[2017-10-02 10:20] Thomas101 commented on #388
Hi, we’ve just released a fix for this to the beta channel of Wavebox in version 3.3.4. If you want to give it a try there are some instructions on [how to use the beta channel here](https://wavebox.io/kb/beta-channel). Thanks

[2017-10-02 10:21] Thomas101 commented on #400
Hi, we’ve just released a fix for this to the beta channel of Wavebox in version 3.3.4. If you want to give it a try there are some instructions on [how to use the beta channel here](https://wavebox.io/kb/beta-channel). Thanks

[2017-10-02 10:21] Thomas101 commented on #402
Hi, we’ve just released this to the beta channel of Wavebox in version 3.3.4. If you want to give it a try there are some instructions on [how to use the beta channel here](https://wavebox.io/kb/beta-channel). Thanks

[2017-10-02 10:27] Thomas101 commented on #405
We do have a message on our download page, when downloading snap packages but now that more users are coming through the snap store they're not seeing this. 3.3.4 beta has a dialog message for snap users to help them get setup. This will be heading out to the stable channel shortly

[2017-10-02 11:26] Thomas101 commented on #390
@caldwed you could try with Ignore GPU disabled, but I think you'll come out at the same conclusion.

@tonybyng nice find with the outlook account. Which accounts do you have left after removing the outlook one? (e.g. a single gmail, or two Google Inboxes, etc...).

I'll leave one of our test vms on here with a similar setup to see if we get the same

[2017-10-02 11:31] Thomas101 commented on #95
This does seem more pronounced with High Sierra. I'll take another look into this. If I can reproduce it, makes it much easier to diagnose :)

[2017-10-02 11:34] Thomas101 commented on #404
I'll have a look into this. Maybe we can detect this when the account or window is out-of-focus.

[2017-10-02 11:40] eatcodeplay commented on #327
Test Notification Button works again as expected.

The issue remains with some custom websites. Most notably hangouts.google.com ( as described here: https://github.com/wavebox/waveboxapp/issues/327#issuecomment-330797927 ).

[2017-10-02 11:52] Thomas101 commented on #327
@eatcodeplay if you add hangouts.google.com as a service in 3.3.4 rather than a custom website you should get notifications and unread badges.

You will need to make sure hangouts is not set to sleep in settings. If you're adding a new Google account afresh sleep for hangouts will be disabled by default, if you're enabling it on an existing account you can find the toggle under ther Google Hangout

[2017-10-02 11:59] eatcodeplay commented on #327
I think i don't quite understand, or we don't understand eachother ;)
When you mean adding as a service, you mean adding the entire Gmail Stack right?
That is exactly what i'm trying to prevent. Since i don't check my Mails via Wavebox, i only would like to have hangouts and with your current implementation i would also be forced to add gmail as well :)

[2017-10-02 13:07] jason0x43 commented on #388
The issue appears to be fixed in beta 3.3.4. Thanks!

[2017-10-02 15:41] troyglancy commented on #402
Works perfect! Thank you!

[2017-10-03 00:55] jason0x43 commented on #395
I've continued to see this behavior occasionally. I attached a few screenshots showing the issue (the pixelated content is not part of the issue). In the first, Wavebox has suddenly become mostly empty. I haven't been able to determine any particular trigger for this. Sometimes it happens when Wavebox first opens, sometimes just randomly (presumably after something prompted a redraw). In any case,

[2017-10-03 07:22] Thomas101 commented on #327
At the moment, we've only added Notification & badge support for hangouts when added under a gmail account. The "Any Web Link" accounts don't include any additional integrations for notifications or badges at the moment and as Hangouts doesn't produce Notifications out of the box they're not displayed.

We are working on adding more integrations along with the current Google, Microsoft, Trello and

[2017-10-03 07:27] Thomas101 commented on #395
Drats, was hoping it was just something sporadic! I haven't seen anything reported on electron issues as of yet, so I'm wondering if this is something that Wavebox is doing that a lot of other apps are not.

If you click the Apple icon in the top-right of your screen and go to `About this mac`, would you be able to send a screenshot of the Overview tab? Maybe we can try to get a machine to reprodu

[2017-10-03 07:37] tonybyng commented on #390
@Thomas101 My setup is Inbox for gmail (GoogleSuite), Google calendar, hangouts, contacts, keep, photos and drive, outlook.com (an old hotmail account) and  OneDrive.  My outlook account also does a retrieval of my personal email account

Since taking outlook out and adding back in again, Ive had no further problems.  Ive also updated to 3.3.4 beta yesterday and not had a problem this morning

[2017-10-03 08:43] Thomas101 commented on #390
Thanks @tonybyng I've been running a Linux mint machine with a gmail account and office 365 overnight - let it go to sleep etc and it's not locked up. It's really weird that this seems to be sporadic. Keep me up to date if you start seeing this again! I'll keep using the test box over the next few days to see if I can reproduce

[2017-10-03 12:14] jason0x43 commented on #395
Yeah, so was I. :(

I don't run any other Electron apps on a regular basis, so I can't say much there. I've only seen the issue with Wavebox, both in the main window and in external windows opened by Wavebox.

![screen shot 2017-10-03 at 08 10 04](https://user-images.githubusercontent.com/1042866/31124503-b9dad16e-a812-11e7-8fea-71ac9ec2b9c2.png)

[2017-10-03 13:23] icepol commented on #232
Hi same for me, empty window opened... Version 3.3.0 on Mac...

From console log (from that new window):
[code]

[2017-10-03 16:08] Cris70 commented on #138
Hi @Thomas101 , I just finished updating to v3.3.4. I enabled Boomerang and restarted Wavebox a couple times, but I do not see Boomerang enabled. That is, I see the Boomerang icon in the top right corner, but there's no trace of the usual enhancements that Boomerang brings to the gmail interface.
What am I doing wrong?

[2017-10-03 17:04] EvHaus commented on #256
I'm on v3.3.0 and can't find the "Open link in Browser" option yet. Is this released yet?

[2017-10-03 17:05] Cris70 commented on #232
Same here, version 3.3.4 on Linux

[2017-10-03 20:08] plan8studios commented on #395
I'm experiencing the same issue with similar hardware.
![screen shot 2017-10-03 at 2 07 26 pm](https://user-images.githubusercontent.com/680706/31146525-4cc0507c-a844-11e7-850c-6a61c7eb177f.png)

[2017-10-03 21:52] tomaslundborg commented on #187
this one is still not working.... any updates on when it will be fixed? (cannot use other than google login on Asana)

[2017-10-04 08:19] psywolf85 commented on #359
Extensionsupport reached beta. I would love to test this feature :)

[2017-10-04 08:46] damonmaria commented on #81
I tried the beta and tested it. The notification and badge correctly appeared, and the conversation was opened in Hangouts. However, I closed the conversation (without clicking within it) so in the list of conversations on the left it was still in bold. Now clicking on that conversation in the list will not open it. Clicking any other conversation does open them. Navigated elsewhere in the app and

[2017-10-04 10:20] #402 closed

[2017-10-04 10:20] #400 closed

[2017-10-04 10:20] #152 closed

[2017-10-04 10:20] #6 closed

[2017-10-04 10:21] #81 closed

[2017-10-04 10:22] Thomas101 commented on #81
@damonmaria it could have been an issue with hangouts itself. If you try it again does it still happen? If so, open-up a new issue and we'll go from there

[2017-10-04 10:22] #388 closed

[2017-10-04 10:22] #382 closed

[2017-10-04 10:22] #369 closed

[2017-10-04 10:22] #371 closed

[2017-10-04 10:23] Thomas101 commented on #327
I'm going to close this off for now as the remaining comments now seem to be around different things to the original issue. If you're still having trouble, feel free to open up a new issue with a backlink to here and we'll take another look. Thanks

[2017-10-04 10:23] #327 closed

[2017-10-04 10:27] damonmaria commented on #81
It didn't happen a second time.

[2017-10-04 10:34] Thomas101 commented on #138
@Cris70 if you try restarting Wavebox does it appear? Is the account with a custom domain (e.g. your email address will be @mycompany.com rather than @gmail.com)?

[2017-10-04 10:37] Thomas101 commented on #256
@EvHaus it went out with 3.3.0 and also 3.4.0 (which has just gone live). If you right click on the account in the left and go to `Account Settings` you should find the setting under the `Advanced` section

![screen shot 2017-10-04 at 11 36 41](https://user-images.githubusercontent.com/103586/31171638-54846f50-a8f8-11e7-8ade-f49fff92b443.png)

[2017-10-04 10:47] Thomas101 commented on #395
It looks could be related to discrete graphics rendering then. Just at a guess.

We've got a macbook pro that I think has a card in here, so I'll try to update that one and see if I can reproduce.

There's also a new version of electron available which uses a newer version of chromium. We've yet to update to this as it's still hot off the press, but I'll be looking to do that in the next week or s

[2017-10-04 12:48] jason0x43 commented on #395
Ah, I forgot about disabling hardware acceleration. I'll give that a shot.

Also, regarding the title bar, I've also seen the issue in secondary Wavebox browser windows that _do_ have title bars, if that's relevant.

[2017-10-04 13:41] caldwed commented on #390
I had a unique lock-up yesterday. Normally the mail window gets "stuck" and then I can't kill the notification icon. I have to kill the processes to totally clean it up. Yesterday, the mail window was working fine, but when I went to shut down, the notification icon was not processing input. The menus seemed to work, but no actions would ever complete. The console still provides no output.

I have

[2017-10-04 14:39] plan8studios commented on #395
I've disabled hardware acceleration. Fingers crossed! :-)

[2017-10-04 15:50] eatcodeplay opened #406 "Spellchecker not respecting Settings"
* Which version of Wavebox are you using? [e.g. 3.0.0]
**3.4.1beta**

* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]
**Windows 10 Pro**

Spellchecker is not respecting my settings anymore and is enabled eventhough i have it disabled in the "General" settings,

Unrelated to this new issue, i've also have seen that secondary windows that open from a main account

[2017-10-04 16:13] Kachilero commented on #395
I've also been experiencing some rendering issues after updating to High Sierra, chief among them is that the app would go blank from time to time, but that seems to have stopped.
I'm also experiencing a probably unrelated issue where when the app is in full screen mode, the icons for minimizing disappear.

[2017-10-04 16:23] renaudManda opened #407 "Boomrang extension doesn't appear in my Inbox/Gmail accounts"
* Which version of Wavebox are you using? [e.g. 3.0.0]
3.4.1 beta
* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]
MacOS X 10

I installed the extension and activate the extension experimental support as describe on the blog post. I see the Boomrang icon in the Wavebox toolbar but not in the Gmail UI or Inbox UI.

[2017-10-04 17:19] jottr opened #408 "Menubar Icon becomes invisible after switching menubar theme on OSX"
* Which version of Wavebox are you using? [e.g. 3.0.0]
3.3.0
* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]
[code]

When switching between dark and and light menubar theme on OSX, the wavebox icon does not transition properly, rendering it invisible.
Steps to reproduce:

- Start with light theme
- Open wavebox -> Menubar icon is visible
- [Switch menubar theme

[2017-10-04 18:02] Cris70 commented on #138
@Thomas101 I have just updated to v3.4.1, but it does not work, even after various restarts.
I have two GMail accounts configured: one with a standard domain (gmail.com) and one with a custom domain. The one with the **custom domain** is working, while **the standard one is not**.

[2017-10-04 18:11] Cris70 commented on #407
Same here. I have added a few comments in bug #138 too.

[2017-10-05 08:20] Thomas101 commented on #406
Thanks for reporting! I've patched this and it will be released in the next beta

[2017-10-05 08:39] Thomas101 commented on #407
Thanks for reporting. We're not expecting it to appear in Google Inbox as Boomerang only supports Gmail. There might be some more debugging information that we can grab that might help.

On the Gmail account where it's not appearing, can you right click on the account in the left and go to `Inspect`. A new window will appear, click the console tab. Can you send a screenshot of that? It should look

[2017-10-05 08:40] Thomas101 commented on #138
@Cris70 I've added some more info to #407 we'll take it from there. Thanks!

[2017-10-05 08:45] Thomas101 commented on #408
Hi, Wavebox only picks out the theme on launch at the moment. Restarting Wavebox after changing the theme may update the colours automatically, however if you've customized any menu bar settings these wont be overwritten and the colours wont change.

If you want to customize the menu bar icon, open the Wavebox Settings and there's a `Menu Bar` section which will allow you to customize colours and

[2017-10-05 13:11] joeoftheforsythe opened #409 "Compose New Message modal"
* Which version of Wavebox are you using? [e.g. 3.0.0]
  * 3.4.0

* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]
  * Mac OSX 10.12.6

I have multiple email accounts setup. When I push CMD+N to compose a new email it'd awesome if I could select the account using the keyboard instead of selecting with the mouse.

[2017-10-05 14:54] jason0x43 commented on #395
Disabling hardware acceleration _seems_ to have done the trick. I haven't noticed any flashing, missing UI elements, or other redrawing issues.

Also, ironically, Inbox seems to work more smoothly. When hardware acceleration was enabled, it seemed like Inbox was sometimes slow to respond, or took multiple clicks, or was in some difficult-to-define way unresponsive. Possibly this is related to what

[2017-10-05 15:20] roccolord opened #410 "OSX cant open links in browser"
* Which version of Wavebox are you using? [e.g. 3.0.0]
3.4.0

* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]
osx

Clicking on a link in an email launches the browser (Chrome) but without an url. "Open link with wavebox" works.

[2017-10-05 15:54] Thomas101 commented on #410
Hi, a few users reported this after upgrading to High Sierra, but found that updating chrome fixed the issue. Which version of of macOS and Chrome are you using?

[2017-10-05 16:10] plan8studios commented on #395
So far, so good! One day in with hardware acceleration disabled and no weird UI glitches 👍

[2017-10-05 16:55] Cris70 commented on #407
Here are my screenshots:
![screenshot_20171005_185144](https://user-images.githubusercontent.com/5107224/31239805-a0ab1c6a-a9fe-11e7-8f4a-8b8386a6ff70.png)
![screenshot_20171005_185252](https://user-images.githubusercontent.com/5107224/31239809-a4caf78e-a9fe-11e7-8053-a6dcfa7e9e9b.png)

[2017-10-05 17:48] zanewolf opened #411 "Wavebox can't connect to internet"
* Which version of Wavebox are you using? [e.g. 3.0.0]
3.4.0
* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]
Windows 10

For the past several days, wavebox has been unable to open, despite the internet working perfectly. I've tried uninstalling and reinstalling, I updated the version from 3.1.something to 3.4, and of course I tried the ol' turning the computer o

[2017-10-05 19:11] jottr commented on #408
That actually fixed it. Setting the background to white, and the opacity level to something like `0.6` works nicely.
I'd like to suggest to make this the actual standard setting.

[2017-10-06 06:13] roccolord commented on #410
I have High Sierra and Chrome latest, not beta or canary.

[2017-10-06 08:38] Thomas101 commented on #409
Fair point! I'll see if I can add arrow commands in

[2017-10-06 08:40] Thomas101 commented on #395
Good to hear that's working for now! I'll be getting a new beta out early next week which has a newer version of Chromium, I'm hoping this will fix the compatibility issues without needing to disable hw acceleration

[2017-10-06 08:50] Thomas101 commented on #407
Thanks for the screenshots, I think I've got an idea about what underlying issue is. Do you know if have any of the gmail labs enabled?

[2017-10-06 08:51] Thomas101 commented on #411
Hi, we've seen this a few times with antivirus/firewalls blocking the connection. For the other bug reports, Kaspersky has been particularly bad with this. Do you know which antivirus and firewall you're running? Would you be able to check that Wavebox has been whitelisted?

[2017-10-06 09:16] Cris70 commented on #407
@Thomas101 in the account where Boomerang does not work I have a few enabled labs:
- auto-advance
- pictures in chat
- preview pane
- unread message icon

But I have a few labs enabled also on the other account, where Boomerang works:
- chat on the right
- unread message icon
- pictures in chat
- canned replies

[2017-10-06 09:53] jfml commented on #130
IMAP please!

[2017-10-06 15:11] roccolord commented on #410
Sorry I have 62 Beta....

[2017-10-06 17:27] nmat commented on #401
@Thomas101 the toogle is there. However I can't _toogle_ it. What you can do to reproduce is to:

1. Create a new mail in gmail (and dettach it to its own window)
2. Create another new mail inside the main window

Now:
In the main window mail.....add something that would represent a markdown like: ---------
And then toogle markdown. This will change the dashed lines to: ________________________ (o

[2017-10-07 14:20] nmat commented on #130
glowing-bear - http://www.glowing-bear.org/ - for those that use weechat on a server somewhere

[2017-10-08 17:45] rckstflbn opened #412 "Wavebox unresponsive in dock after Sleep"
* Which version of Wavebox are you using? [e.g. 3.0.0]
Wavebox 3.4.0
* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]
Windows 10

When my laptop wakes from sleep, if Wavebox was idling in background it never becomes available.   Just a  black window down in the dock.   Have to go to Taskmanager and kill processes then relaunch Wavebox, which runs great until I cl

[2017-10-08 18:00] nmat commented on #412
I am on a windows 10 machine and do not have that kind of problem.

Even had the whole machine in a sleep mode during night and still response. Did this happen after a upgrade from 3.3 -> 3.4 or similar?

[2017-10-09 10:41] Thomas101 commented on #410
Thanks, can you give the following a try...
1. Open macOS System Preferences and go to the General Tab
2. Change your Default web browser to Safari
3. Try opening a link from Wavebox (this should open correctly)
4. Change your Default web browser back to Chrome
5. Restart your machine
6. Try opening a link from Wavebox again
Does it work correctly after that, or are you still seeing the same probl

[2017-10-09 11:09] Thomas101 commented on #401
Awesome thanks for the detailed steps! I'm seeing the same here. Interestingly not on the build version only on the production version

[2017-10-09 11:12] Thomas101 commented on #412
@rckstflbn thanks for reporting. Would be great to know a little bit more...

1. Can you elaborate on what you mean by idling in the background? Just as an unfocused window?
2. Can you send a screenshot of when it goes into a black window?
3. When it does stop responding, does right clicking on the icon in the bottom-right tray have any effect or does it also remain unresponsive?

Thanks!

[2017-10-09 11:16] Thomas101 commented on #407
thanks for the lists @Cris70. Is one of your accounts a company account (e.g. one email address is @yourcompany.com and the other @gmail.com)?

[2017-10-09 12:28] renaudManda commented on #407
@Thomas101 in my case my answer to your last question to @Cris70 is yes.

I've one corporate account (Gsuite) and 2 Gmail accounts

if it could help

[2017-10-09 14:37] jon-heer opened #413 "Unable to right click and reload app icons for weblinks in the sidebar"
Version 3.4.1
OSX 10.12.5

Like the title says, I'm unable to trigger a reload for a weblink's app icon in the sidebar. I have news.google.com as a weblink, and occasionally it displays like a blank page (which might just be a site issue). Prior to the last update, I was able to reload the page to fix the blank page issue, but now nothing happens when I select reload. The same is true for my faceb

[2017-10-09 18:02] roccolord commented on #410
The links that where borked looks to be working now, I think since I upgraded to the last Apple High Sierra panic fix.

[2017-10-09 20:27] tonyjames commented on #384
Flatpak support would be beneficial to RHEL, CentOS, and Fedora users since flatpak support is included in each.

[2017-10-09 21:23] nmat opened #414 "Standard left click on tray icon should be minimize and not close"
* Which version of Wavebox are you using?
3.4.1beta

* Which Operating System are you using?
Windows 10

* Desciption:
If setting "Hide main window to tray on closed" is not set, then the application will close on a single left click on the tray icon.

This default behaviour IMO should be a minimize setting by default rather then close. A single click is more of a minimize then a close method espe

[2017-10-09 21:33] nmat commented on #414
Or use a standard focus method as in:

tray.on('click', () => {
  win.isVisible() ? win.hide() : win.show()
})

but not close the app if the setting is not selected

[2017-10-10 00:38] Cris70 commented on #407
@Thomas101 yes I have two accounts: one company account (the working one) and one gmail account (boomerang not working here)

[2017-10-10 00:43] mindfullsilence opened #415 "Drag'n'Drop Account Ordering"
* Which version of Wavebox are you using? [e.g. 3.0.0]
3.4.0

* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]
Mac OSX 10.12.6

Feature request: Allow account icons to be drag/dropped for reordering.

[2017-10-10 06:54] amig opened #416 "Support for Gnome"
* Which version of Wavebox are you using? 3.4.0

* Which Operating System are you using? Ubuntu 16.04.3 LTS / GNOME Shell 3.18.5

Would like to see full integration of menu and a native extension.

Thanks.

[2017-10-10 07:54] Thomas101 opened #417 "Option to override all built-in window openers"
Add an option to override things like Google Drive window openers etc so you can make them always open in the browser

[2017-10-10 11:10] nlenkowski commented on #395
I've been seeing a similar issue after upgrading to High Sierra, but not just with Wavebox. Both Chrome itself and a few other Electron based apps I use are having occasional rendering glitches. I'm on an older Macbook Pro mid-2012 w/ a discrete graphics card (Nvidia 650M). Perhaps there is an upstream issue with Chromium or Electron?

I've tried resetting the PRAM and SMC and clearing all MacOS c

[2017-10-10 14:44] drewplaysdrums commented on #417
+1 for this option.

[2017-10-11 07:44] Thomas101 commented on #413
Thanks for reporting. I think I've already patched this in master so will be heading out in the next beta release.

If you've got the toolbar enabled, the reload button there should still be working and also the reload option when right clicking in the page should also still work

[2017-10-11 07:45] Thomas101 commented on #410
Thanks for the update. A few users have reported a similar behaviour and updating either chrome or macOS seems to resolve the issue!

[2017-10-11 07:45] #410 closed

[2017-10-11 07:47] Thomas101 commented on #415
This can be done with a right-click at the moment, but we should definitely be supporting drag & drop!

![screen shot 2017-10-11 at 08 47 41](https://user-images.githubusercontent.com/103586/31427922-dde0356e-ae60-11e7-8691-b8ebfa30ae84.png)

[2017-10-11 07:49] Thomas101 commented on #416
Yep! 3.26 changes support for the status icon too so we should be looking at that

[Status Icon Migration](https://wiki.gnome.org/Initiatives/StatusIconMigration)
https://github.com/electron/electron/issues/10427

[2017-10-11 12:10] Rediwed commented on #400
Please note this is unexpected behaviour in a macOS environment. I urge you to fix this. Issue has been persistent since older "Shift" fork.

[2017-10-11 13:06] Thomas101 commented on #400
@Rediwed this was fixed in version 3.4.0 and 3.4.1. Are you still seeing the behaviour with those versions?

[2017-10-11 14:13] jon-heer commented on #413
Great, I'll keep an eye out for it! Good idea with the toolbar (haven't had it open); I've just been restarting the application to get around the issue.

[2017-10-11 23:52] raptor235 commented on #395
Seeing same issues, Atom & Chrome have had artifacts all week long...

  Chipset Model:	NVIDIA GeForce GT 750M

[2017-10-13 09:09] tonybyng commented on #138
Hi. Do you have an order in which you are looking to implement plugins ? I'm waiting for Gmelius and kind of hoping that because its fairly near the top of the list that it might be sooner rather than later. Without it, Im still using chrome more than I am wavebox which defeats the object a bit

[2017-10-13 13:20] meoso opened #418 "No audio with "default" notification provider"
3.4.1 beta

Linux 4.9.0-4-amd64 #1 SMP Debian 4.9.51-1 (2017-09-28) x86_64 GNU/Linux
PulseAudio (Pulse tends to be a problematic sound system inherently)

**No audio output with "default" notification provider.**
Does have audio with "Enhanced", but "Enhanced" does not inherit the OS's Theme (dbus notifications).

[2017-10-14 09:15] nmat commented on #383
Is it possible to set at the moment to use something like `Ctrl+LeftAlt+Number` ?

I mean until this is fixed in general and tested? (If I Alt in anyway it would tell the AltGr to be overwritten which destroys the special characters) :(

[2017-10-14 17:09] rckstflbn commented on #412
Hi Thomas,

Problem i still happening.   If wavebox is running and I allow laptop to go
to sleep, when I wakeup the Win10 laptop I get the attached screenshot in
dock.    App is there and running, but unresponsive.   Cannot click on it,
 cannot switch to it, cannot Close Window via dock.   Have to go to Task
Manager and kill Wavebox processes.

Been happening since at least the most recent update

[2017-10-14 19:05] nmat commented on #412
@rckstflbn are you running any type of antivirus or something similar?

As mentioned before I have 2 machines where 1 is a laptop and running both wavebox on windows 10 and do not have this problem. Does the task manager tell you that wavebox is unresponsive also?

(also....in the ticket it does not seem the image is seen....might have to do with you answering directly in gmail, not sure)

[2017-10-14 20:34] rckstflbn commented on #412
Avira free is running,  as well as Malwarebytes.

Re-attaching screenshot.

Rick Stufflebean
email: rckstflbn@gmail.com
615.967.9972
photography: http://501concepts.com   design: http://artdroid.com

On Sat, Oct 14, 2017 at 2:05 PM, nmat <notifications@github.com> wrote:

[2017-10-14 20:54] nmat commented on #412
if possible could you try to turn them off and see if that makes any difference. I mean using no protection at all more then the built in defender and protection from windows 10?

I had problems with avast that the application never started and was not recognized so had to do some fiddling with the antivirus to add it to some sort of ok state.

[2017-10-16 12:36] ToxMox opened #419 "Google Calendar notifications freeze entire interface until Ok is clicked"
3.4.1 beta on Win 10 X64

When Google Calendar shows an event notification in Wavebox it stalls the entire app until you press OK. I accidentally left Wavebox open over the weekend at work. I came back to a stalled calendar notification and my CPU running at 100% because there were what seemed like hundreds of Wavebox processes running.

[2017-10-16 15:29] Thomas101 commented on #419
Thanks for reporting. Technically this is a tricky one as `alert()` halts JavaScript execution across the app as per the spec. There may be something we can do though, considering the limited scope of Google Calendar.

In the meantime, you could enable browser notifications, rather than interruptive alerts. This would just popup a normal browser notification and wouldn't lock anything up. If you w

[2017-10-16 15:52] ToxMox commented on #419
Ok cool. Thanks for the workaround.

[2017-10-16 15:52] Thomasmavilo opened #420 "Downloaded File Rename"
* Which version of Wavebox are you using?  3.4.0
* Which Operating System are you using?  Ubuntu 16.04
When a file is downloaded, wavebox appends to the file name.
101517.zip becomes 101517.zip.waveboxdownload

Is there a way to disable this?

[2017-10-16 16:13] Thomas101 commented on #390
Out of curiosity does anyone have Google Calendar enabled? It looks like Wavebox can end up locking up when Google Calendar tries to bring up an event-alert. Does disabling Calendar or switching to non-interruptive notifications in the Google Calendar settings make any difference?

![screen shot 2017-10-16 at 16 27 50](https://user-images.githubusercontent.com/103586/31622822-5e1afd94-b295-11e7-87

[2017-10-17 01:40] saman325 opened #421 "Bug: Asana tasks cannot be dragged and dropped"
Wavebox version: Version 3.4.0
OS: Max OSX: 10.12.3

I'm having an issue with Asana in Wavebox.

Steps to reproduce:
Use Asana in Wavebox.
Try to drag a task from one spot to another.

Current behavior:
https://cl.ly/1J0Y3l1R1W3a

Expected behavior (in my browser):
https://cl.ly/0933352N3Y1O

[2017-10-17 08:13] Thomas101 commented on #383
Unfortunately I can't see a way to use left alt, only AltGr. There's some more info on the [accelerator keys here](https://github.com/electron/electron/blob/master/docs/api/accelerator.md)

[2017-10-17 08:21] Thomas101 commented on #412
Looking at some other issues, this could be related to the alerts that Google Calendar shows, but we're not 100% sure on this. If you've got Google Calendar setup as a service, could you try setting it use browser notifications rather than interruptive alerts? You can do this by opening up your Google Calendar Settings (cog in the top-right) and the enabling the following...

![screen shot 2017-10

[2017-10-17 08:22] Thomas101 commented on #420
Wavebox appends `.waveboxdownload` whilst the file is still downloading. Once it's complete, it should remove the extension and leave it as `.zip`. Is this happening, or does it always stay with `.waveboxdownload`?

[2017-10-17 11:17] Thomasmavilo commented on #420
The suffix stays after download.  This happens with all file types, not
just .zip files

Wavebox appends .waveboxdownload whilst the file is still downloading.
Once it's complete, it should remove the extension and leave it as
.zip. Is this happening, or does it always stay with .waveboxdownload?
—
You are receiving this because you authored the thread.
Reply to this email directly, view it on Git

[2017-10-17 12:53] nmat commented on #383
hmmm IF I read this correctly: Alt would indicate left alt while AltGr would indicate right Alt

However I am not 100% sure :/

[2017-10-17 15:09] jason0x43 commented on #395
Hardware acceleration definitely seems to be the issue. I haven't seen this problem come up at all since disabling hardware acceleration a couple of weeks ago.

[2017-10-17 17:03] cansi22 opened #422 "New Google Calendar look"
* Which version of Wavebox are you using? 3.4.0
* Which Operating System are you using? Win10

Adapt the google calendar section to the new look
Put a button to activate the new look with the following link:
https://calendar.google.com/calendar/render?new_calendar_optin=true

Source: https://techcrunch.com/2017/10/17/google-calendar-on-the-web-gets-a-fresh-new-look/

[2017-10-18 08:04] Thomas101 commented on #422
Thanks for pointing this out! If you want to try it now, navigating to the link in your web-browser will show the button. Once it's been enabled, it's enabled anywhere you login. So if you reload Google Calendar in Wavebox (right click on the icon and reload) it will also appear :)

[2017-10-18 08:17] Thomas101 commented on #421
Hi, thanks for reporting. I've just given this a try myself and I'm seeing the behaviour that you see in the browser. If you right click on the account in the left and hit reload does this make any difference? It could just be a broken release from Asana that Wavebox loaded in

[2017-10-18 08:18] Thomas101 commented on #420
Hmmmm, that's interesting. Do you know which install format you're using? (e.g. snap, deb, tar etc...)

[2017-10-18 08:21] tonybyng commented on #390
I do have google calendar active in Wavebox and Ive not noticed any lockups since my "fix". As and when there is an event I get a little alert box appear telling me of the event. I'm fairly sure the alert comes to the foreground too.

Are you thinking that maybe the alert is firing but is being hidden somehow so you  then lose control of any input because there is a hidden alert preventing access

[2017-10-18 08:54] nmat commented on #383
oh so I was correct. woho!

Yes. However I am not really able to set Alt as being left Alt in wavebox since Alt in wavebox is a summary of both left and right key. So if I add for example Alt+1 then it would mean:

(left)Alt+1
and
(right)AltGr+1

This overwrites the special key on EU keyboards:

In general EU keyboard layout is that: Example number key 2:

Shift+2 = "
AltGr+2 = @

As you can se on

[2017-10-18 09:34] dyelton commented on #403
I can confirm that this is happening to me as well. Happened with Wavebox 3.3 and is happening with 3.4 as well. I thought it was just Wavebox up until today but I just had the issue happen in Tweetbot (I'm on a Mac).

[2017-10-18 09:40] azamouchi opened #423 "Not receiving notifications for unread messages on Google Inbox"
* Which version of Wavebox are you using? [3.4.0]

* Which Operating System are you using? [Mac OSX 10.12.6]

Hi,

I don't receive any notifications for my unread emails on Google Inbox, and no unread count is shown over the app icon in the dock, neither on the app extension in the status bar.
My account configuration is set to **Unread Messages** as explained here : https://wavebox.io/kb/google-u

[2017-10-18 09:55] naderby opened #424 "Paste without formatting Mac OSX"
* Which version of Wavebox are you using?3.4.0

* Which Operating System are you using? Mac OSX 10

Really do need to have paste without formatting. Very important. I can't get it to work.

Shift + Option + Command and hit V.

[2017-10-18 10:16] Thomas101 commented on #403
Some users have reported that updating Chrome (if you're using chrome), checking for new macOS updates and/or changing the default browser to something else and back again seem to work.

[2017-10-18 10:19] Thomas101 commented on #424
Hi, wavebox uses <kbd>Cmd</kbd>+<kbd>Shift</kbd>+<kbd>V</kbd> to do paste without formatting. If you want to use <kbd>Option</kbd>+<kbd>Shift</kbd>+<kbd>V</kbd> then you can change the shortcut in settings under advanced. Changing *Paste and Match Style* to `Option+Shift+V` will set this.

There are some further instructions on to change shortcuts [here](https://blog.wavebox.io/be-a-keyboard-short

[2017-10-18 11:03] Thomas101 commented on #194
Hi, we’ve just released this to the beta channel of Wavebox in version 3.4.2. If you want to give it a try there are some instructions on [how to use the beta channel here](https://wavebox.io/kb/beta-channel). Thanks

[2017-10-18 11:04] Thomas101 commented on #232
Hi, we’ve just released this to the beta channel of Wavebox in version 3.4.2. If you want to give it a try there are some instructions on [how to use the beta channel here](https://wavebox.io/kb/beta-channel). Thanks

[2017-10-18 11:04] Thomas101 commented on #401
Hi, we’ve just released this to the beta channel of Wavebox in version 3.4.2. If you want to give it a try there are some instructions on [how to use the beta channel here](https://wavebox.io/kb/beta-channel). Thanks

[2017-10-18 11:04] Thomas101 commented on #406
Hi, we’ve just released a fix for this to the beta channel of Wavebox in version 3.4.2. If you want to give it a try there are some instructions on [how to use the beta channel here](https://wavebox.io/kb/beta-channel). Thanks

[2017-10-18 11:05] Thomas101 commented on #407
Hi, we’ve just released this to the beta channel of Wavebox in version 3.4.2. To try it out, you will need to remove boomerang and add it again this time.

If you want to give the beta channel a try there are some instructions on [how to use the beta channel here](https://wavebox.io/kb/beta-channel). Thanks

[2017-10-18 11:06] Thomas101 commented on #413
Hi, we’ve just released this to the beta channel of Wavebox in version 3.4.2. If you want to give it a try there are some instructions on [how to use the beta channel here](https://wavebox.io/kb/beta-channel). Thanks

[2017-10-18 11:07] Thomas101 commented on #417
Hi, we’ve just released this to the beta channel of Wavebox in version 3.4.2. Under your account settings you can find the `Open Google Drive links with Browser` option. Enable this and they'll open up in your default browser.

![screen shot 2017-10-18 at 12 06 19](https://user-images.githubusercontent.com/103586/31715727-d6e9aea6-b3fc-11e7-8e1c-39f5dde1530b.png)

If you want to give the beta chan

[2017-10-18 11:07] Thomas101 commented on #422
Hi, we’ve just released this to the beta channel of Wavebox in version 3.4.2. If you want to give it a try there are some instructions on [how to use the beta channel here](https://wavebox.io/kb/beta-channel). Thanks

[2017-10-18 11:26] Thomasmavilo commented on #420
It was installed via snap.
On Wed, 2017-10-18 at 08:18 +0000, Thomas Beverley wrote:

[2017-10-18 14:23] ashokfernandez opened #425 "Persistent Notifications for Calendar events"
* Which version of Wavebox are you using? [e.g. 3.4.0]
* Which Operating System are you using? [Mac OSX 10.12.6]

[2017-10-18 14:25] jon-heer commented on #413
Hi Thomas, I have updated to the latest 3.4.2 beta release, and I have verified that the refresh is working properly in the weblink's app icon action menu. I appreciate the quick turnaround - thanks!

[2017-10-18 14:25] #413 closed

[2017-10-18 14:46] micahparker opened #426 "Unable to share location with Weblink"
* Which version of Wavebox are you using? [e.g. 3.0.0]
3.4.0
* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]
Windows

Im trying to add T-Mobile DIGITS as a Weblink and part of registering a Line is sharing your location (presumably for 911 support). Because im not prompted to allow location sharing i cannot register a line making DIGITS on Wavebox unusable.

[2017-10-18 17:53] TheWithz opened #427 "[Feature Request] Hangouts notification preview"
* Which version of Wavebox are you using? [e.g. 3.0.0]
3.4.0
* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]
[solus 3](https://solus-project.com/)

Right now the hangouts notification just says "You have x messages remaining"
A little preview that says 1. who sent the message. 2. the first couple words of the message, would be very beneficial/useful feature.

[2017-10-18 17:57] TheWithz opened #428 "[Feature Request] compatible external links should open in Wavebox"
* Which version of Wavebox are you using? [e.g. 3.0.0]
3.4.0
* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]
[solus 3](https://solus-project.com/)

For example, if someone sends me an email with a youtube link, and on my Wavebox account I have the youtube tab enabled, then rather than opening an external browser, or Wavebox's browser, it would take me to the you

[2017-10-18 18:44] nmat commented on #401
verified that it loads on both Mac OS and Windows 10

Closing this issue

[2017-10-18 18:44] #401 closed

[2017-10-18 18:45] nmat commented on #422
Works here on Windows 10 and Mac OS

[2017-10-18 19:41] nmat commented on #407
Seems to work for me now. One thing I noticed is that I had to uninstall/disable the extension and add it again for it to work. Only tested on Windows 10 though but there it does now load.

[2017-10-18 20:20] TheWithz commented on #422
Confirmed to work on Linux Solus OS

[2017-10-18 21:40] Cris70 commented on #407
Works perfectly now (after upgrading to v3.4.2 and removing/readding Boomerang). Thank you!!

[2017-10-19 05:13] nmat commented on #427
does the same effect happen on both default/Enhanced (Experimental) notifications?

(Note tested it with hangouts)

[2017-10-19 07:55] itamaro opened #429 "How to set Wavebox as default mailto link handler on OS X?"
* Which version of Wavebox are you using? [e.g. 3.0.0]

3.4.0

* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]

Mac OS X 10.11.6

I'd like to have Wavebox handle all mailto links (if possible, letting me choose which account in Wavebox should be used, but also OK if it uses the active account).

Is it possible to configure it? Maybe just for links in Chrome?

Cu

[2017-10-19 08:01] Thomas101 commented on #429
If you open settings and turn on or try turning off and on `Handle mailto links` does that work?
![screen shot 2017-10-19 at 09 00 33](https://user-images.githubusercontent.com/103586/31760261-038e3a08-b4ac-11e7-9b54-432294e22920.png)

[2017-10-19 08:05] Thomas101 commented on #390
Thanks @tonybyng. The reason for the question, was someone reported that a Calendar alert came up whilst the laptop was asleep and started chewing cpu and battery until it was dismissed.

From the JavaScript spec, alert should halt execution until it's dismissed. Obviously this caused a few issues and was wondering if it was related. The 3.4.2 beta went out yesterday which has a patch for this. Th

[2017-10-19 08:06] Thomas101 commented on #383
Ah, that wasn't the behaviour I was seeing when I tested it. Which OS & version are you using?

[2017-10-19 08:09] Thomas101 commented on #423
Hi, thanks for reporting and for the detailed info. There could be some more info in the log. Are you able to open the developer tools by going to View > Developer > Wavebox Developer Tools. In the window that appears can you click on the console tab and send a screenshot?

[2017-10-19 08:16] itamaro commented on #429
no. weirder still, if I turn it on, and try opening a mailto link, WMail opens and closes, and this setting in Wavebox is suddenly turned off...

[2017-10-19 08:18] itamaro commented on #429
OK, that little experience helped me figure it out! :-)

I went into WMail settings, turned off the `Handle mailto link` setting there, turned on the setting in Wavebox, and now it works!

[2017-10-19 08:54] azamouchi commented on #423
Yep sure ! there you go  [-1508402926908.log](https://github.com/wavebox/waveboxapp/files/1397676/-1508402926908.log)
Thank's for your support.

[2017-10-19 08:59] eatcodeplay commented on #406
Looking good. Spellchecking seems to behave as expected in primary windows and secondary windows. Thanks!

[2017-10-19 12:10] nlenkowski opened #430 "High CPU usage with weblink accounts"
* Which version of Wavebox are you using? [e.g. 3.0.0]
3.4.0

* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]
MacOS 10.13 High Sierra

When I enable weblink accounts for WhatsApp (https://web.whatsapp.com) and/or Facebook Messenger (https://www.messenger.com) I'm seeing high CPU usage from the Wavebox Helper processes. I have badges and notifications enabled for

[2017-10-19 12:57] TheWithz commented on #427
I'm not sure about the experimental notifications, I upgraded to the 3.4.2beta thinking it might be there but go the same result. EDIT: I found it now. The grey text on white background is REALLY hard to read haha. Will do some more testing.

[2017-10-19 13:17] TheWithz commented on #427
After turning on experimental notifications this is what I see. It also loses the pretty dark theme that it used to have.
![oie_imaljy4koup9](https://user-images.githubusercontent.com/8269545/31772546-101048aa-b4ae-11e7-9c4c-f3a83b5b3670.png)

[2017-10-19 14:09] micahparker opened #431 "Ability to add Services to existing Accounts / Weblinks"
* Which version of Wavebox are you using? [e.g. 3.0.0]
3.4.0
* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]
Windows 10

I would love the ability to add my own Weblinks as Services of an existing account (e.g. add Trello board as a Service to my Office 365 Account). It would help me keep related services for personal and work Accounts all nice and tidy.

[2017-10-19 16:31] gmonsalvo commented on #232
Hi!
With 3.4.2 Beta, pdf printing works  like a charm! thanks a lot.

[2017-10-19 16:53] nmat commented on #383
Windows 10 creators fall update

[2017-10-19 16:56] nmat commented on #427
hmmm that looks like the chrome based notification and not the notification for wavebox

[2017-10-19 22:13] robjhyndman commented on #138
Todoist please

[2017-10-19 22:14] rjcragg commented on #138
Bitium would be handy. My employer is making a big push into Bitium for credential management. It may soon become impossible for me to log into Slack, Trello, or GMail without using Bitium.

https://www.bitium.com/

And they have a good Chrome extension.

[2017-10-19 22:18] rjcragg commented on #138
GoToMeeting for Google Calendar

[2017-10-20 07:41] Thomas101 commented on #420
I think the root cause is down to snap permissions. I'll have a look if we can get around this, or if not drop the extension on snap installs

[2017-10-20 07:44] Thomas101 commented on #425
Yeah, I think this would make a nice addition. I think there may be some support in the underlying notification library so I'll take a look what we can do.

In the meantime, if you've enabled desktop notifications rather than interruptive alerts in your Google Calendar settings it does produce a red dot indicator above the calendar icon. Not as great as having the notification stick around, but mi

[2017-10-20 07:53] Thomas101 commented on #426
It looks like we need to set the api key to allow Wavebox to resolve the current location. I'll get this added in to the next beta

[2017-10-20 07:55] Thomas101 commented on #428
I agree - should probably gate this behind a setting for users who don't want to use it

[2017-10-20 07:56] Thomas101 commented on #429
Glad you got it working! My next suggestion was to try a restart. We have once machine in the office that keeps forgetting its setting for some reason :-/

[2017-10-20 07:58] Thomas101 commented on #423
Wow, lots of 404's there for some reason. Are you behind a corporate proxy or public wifi etc? I'm wondering if the router is returning a 404 page for some reason?

It might sound daft, but does re-adding an account or restarting Wavebox any difference?

[2017-10-20 08:01] Thomas101 commented on #430
Wow, that definitely looks high. If you open your Wavebox settings and then click on task monitor can you send a screenshot of that? It will give a little bit more info about what each helper is actually servicing

[2017-10-20 08:01] Thomas101 commented on #431
We definitely have some more work to do on grouping and management. This being one of the things we're looking at :)

[2017-10-20 08:02] Thomas101 commented on #232
@gmonsalvo awesome news :)

[2017-10-20 08:04] Thomas101 commented on #383
My guess is windows handles it differently to linux then :-/

[2017-10-20 08:06] Thomas101 commented on #427
At the moment it's only x messages - we're pulling the info out of the UI as there's no api from Google to know about new messages etc.

We need to work on pulling out some more in-depth info out including names and unread etc.

[2017-10-20 08:09] nmat commented on #383
maybe it is....however the general part of EU keyboard is that (right)alt is always AltGr

[2017-10-20 09:45] KPreal opened #432 "Problem typing '@' in Wavebox"
* Wavebox version: Version 3.4.0
* OS: Windows 10 Pro, Version 10.0.15063 Build 15063
* Device: Surface Pro 3 i7

When entering an email recipent and pressing (alt gr) +  2, which in a scandinavian keyboard results in @, the screen switches to blank. Also at the top of the window where it says that I'm in my inbox changes to blank. Pressing (alt gr) + 1 switches back to my inbox where I see the em

[2017-10-20 10:12] Thomas101 commented on #432
At the core of it, this is the same issue in https://github.com/wavebox/waveboxapp/issues/383. We're not customizing the keyboard shortcuts for different keyboard layouts at the moment - but we are working on this.

In the short term, you can remove the accelerator that's used to switch service. Open Wavebox Settings, go to the Advanced tab and find the `Service at Index` shortcut. Just delete the

[2017-10-20 11:40] nlenkowski commented on #430
Well, after a reboot and letting Wavebox run for 3-4 hours this morning it looks like the issue resolved itself.  Here's a screenshot of the task monitor showing all is well. Sorry for the false alarm!

![wavebox-task-monitor](https://user-images.githubusercontent.com/1290235/31819253-2c138d3e-b59c-11e7-8220-c259a6e0839c.png)

[2017-10-20 12:16] dep opened #433 "[Feature Request] The ability to disable Hangouts"
* Which version of Wavebox are you using? [e.g. 3.0.0]
Version 3.4.2beta

* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]
Mac OS High Sierra

It would be really nice to disable Hangouts, as I and I imagine many others use other solutions for chatting through either hangouts or some other service.  The ability to disable Hangouts would also speed up load times an

[2017-10-20 13:07] meoso opened #434 "gMail "Filter messages like this" closes before being able to edit."
3.4.2 beta

Linux 4.9.0-4-amd64 #1 SMP Debian 4.9.51-1 (2017-09-28) x86_64 GNU/Linux

Inside an email message (gMail)>"_Filter messages like this_">The dialog pops-up, but disappears.  Therefore, requiring to open gMail in a browser to add filters.

[2017-10-20 13:25] meoso commented on #434
i think this is a default browser back-end issue and not necessarily Wavebox.  Does wavebox use the system default browser? and if so are browser add-ons (plugins) enabled within Wavebox (invisibly)?

[2017-10-20 14:03] Thomas101 commented on #430
Sounds like it could be a code issue with Messenger itself, maybe with a memory leak or something else. Keep an eye on it, if it it does start eating cpu or ram again then drop another screenshot up, it might give us a better idea! I'll close this off for now but if you see it again re-comment and I'll take another look

[2017-10-20 14:03] #430 closed

[2017-10-20 14:09] Thomas101 commented on #433
If you want to disable the hangouts tab, you can do this by right clicking on your account in the left and going to account settings. Then scroll down to hangouts service and uncheck it to disable
![screen shot 2017-10-20 at 15 04 11](https://user-images.githubusercontent.com/103586/31824788-036c2204-b5a8-11e7-8519-197bad97d69b.png)

To disable the hangouts pane in Gmail, click the gear icon in th

[2017-10-20 14:12] dep commented on #433
Sensational! Thank you!

[2017-10-20 14:12] #433 closed

[2017-10-20 14:40] nlenkowski commented on #430
Sounds good, will do.

[2017-10-21 06:23] itamaro commented on #429
oy, I was early to rejoice. it seems that my machine also keeps "forgetting the setting" - now it tries using Outlook for mailto links...

[2017-10-21 07:26] nmat commented on #383
Changed the topic since it seems more appropriate then slack switcher

[2017-10-21 08:02] nmat opened #435 "Feature request: office365 service tabs (more)"
General request to add more services in index:

- [x] Word
- [x] Excel
- [x] Powerpoint
- [ ] Planner
- [x] OneNote
- [x] (Teams)
- [ ] (Sharepoint)

Which I think are the most important. Of course (teams) could be in the topic here also if you are not using teams as a service on its own like slack.

Many office365 users would benifit from at least from the above list. Note though that the list is

[2017-10-22 06:07] brianlenz commented on #95
FWIW, I am also experiencing this issue regularly after upgrading to High Sierra (10.13) on Wavebox 3.4.2.

[2017-10-22 13:07] nmat commented on #417
tested this quickly on windows 10 fall creators edition and seems to work fine.

Also works on macOS High Sierra 10.13

[2017-10-22 13:11] nmat commented on #434
hmmm this works on windows 10 and macOS here

are you using any specific browser setting in wavebox that could cause this?

[2017-10-22 23:08] saman325 commented on #421
@Thomas101 I don't see a difference after refreshing. Any other ideas?

[2017-10-23 08:19] azamouchi commented on #423
Disconnecting my account, restarted Wavebox and added the account back fixed the problem ! . Thank's for your support.

[2017-10-23 14:11] Thomas101 commented on #419
Whoops - a fix went out for this in the last beta (3.4.2), I just missed this issue when it did. It shouldn't hold up the ui anymore

[2017-10-24 10:14] sag7328 commented on #166
I would like to use Grammarly in one of my Electron Projects, may i know are good to use or will it takes some time.

[2017-10-24 10:51] prydonius opened #436 "Setting to force Google docs/slides to open in external browser"
* Which version of Wavebox are you using? [e.g. 3.0.0]
3.4.0
* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]
Mac OSX 10.11.6

I have the "Open new windows in which browser" setting set to the Default Browser which opens normal email links in my browser and not in Wavebox. However, this setting is not honoured for Google Docs or other Google Apps links. These see

[2017-10-24 11:20] nmat commented on #436
Please see: https://github.com/wavebox/waveboxapp/issues/417

[2017-10-24 11:25] prydonius commented on #436
@nmat thanks, closing!

[2017-10-24 11:25] #436 closed

[2017-10-24 11:29] prydonius commented on #417
+1 works like a charm for me on macOS El Capitan, thanks!

[2017-10-24 12:58] meoso commented on #434
default install, no custom scripts or launchers.  it is intermittent, sometimes works, but more often doesn't.  no urgency, just an annoyance that may be out of wavebox control.

[2017-10-24 14:36] felicitywang opened #437 "Chinese not supported when adding new account"
* Which version of Wavebox are you using? [e.g. 3.0.0]
3.4.0
* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]
16.04

When adding new accounts like Gmail, Outlook, blank boxes show up instead of Chinese characters. Chinese characters are displayed right elsewhere.

[2017-10-24 14:39] felicitywang commented on #437
Update:
All Chinese in the Gmail page are blank boxes.

[2017-10-25 09:50] Thomas101 commented on #429
Hmmm, okay. I wonder if something is trying to overwrite the setting. What happens if you give this a try?

1. Restart your machine
2. Launch Wavebox
3. Set Wavebox as the default client
4. Restart your machine again
5. Launch Wavebox
6. Is the setting still enabled or has it been changed again?

[2017-10-25 09:52] Thomas101 commented on #95
We've decided to drop the `.waveboxdownload` extension for the time-being as it seems to be causing more trouble than good. Due out in the next beta shortly and stable over the next week-or-so

[2017-10-25 09:52] Thomas101 commented on #423
No problem, let me know if this comes back up :)

[2017-10-25 09:52] #423 closed

[2017-10-25 10:34] Thomas101 commented on #421
I wonder if a different account is interfering with the click handler for some reason. What's the layout of accounts that you've got at the moment? e.g.

1. Asana
2. Gmail
  2.1 Google Calendar
  2.2 Google Drive
3. Outlook
  3.1 Calendar
...etc

[2017-10-25 13:57] liquidonline commented on #425
I'd like to add it would be nice for the linux build too.  I'm using KDE plasma 5.11.x via KDE Neon distribution, and I *often* miss calendar notifications.  Chrome for linux now has (experimental) support for native OS notifications, too, and I find they do a good job of notifying - maybe you can take a look and imitate?

[2017-10-25 14:00] liquidonline commented on #418
I'll add a me-too to this.

the dilemma for me is that default notifications don't have sound, but show (temporarily) a notification, and if I switch to enhanced, I can hear the sound, but I don't see a notification (KDE Plasma DE).

If only it were reasonable to have "both" on ;)

[2017-10-25 14:44] meoso commented on #434
It's definitely NOT a WaveBox issue, this is persisting with Firefox only gMail.  closing case ticket.

[2017-10-25 14:44] #434 closed

[2017-10-26 12:07] chris-X73 commented on #395
I'm experiencing the same problem with other apps like Trello and Google GSuite as well. Parts of browser window are not rendered correctly or totally missing, browser content is flickering etc. - so I don't think the problem is related to Wavebox but more to High Sierra in combination with Chrome.

[2017-10-26 12:11] jjegg opened #438 "Feature request: Copy URL"
Enable a highlight or copy function to copy the currently webpage url with navigating a website without the weblink option.

[2017-10-26 12:11] chris-X73 commented on #395
Disabling hardware acceleration in Chrome worked for me as well to quickfix the problem. 👍

[2017-10-26 12:25] nlenkowski commented on #395
For those not aware, this looks to be an upstream issue with Chromium that affects both Chrome and Electron apps for macOS High Sierra users with certain discrete graphics cards. A Chromium bug report has been filed here, https://bugs.chromium.org/p/chromium/issues/detail?id=773705

[2017-10-26 12:29] Thomas101 commented on #437
Hi, do you know which method you used to install Wavebox? (e.g. snap, deb, tar, etc...). If it's from a snap package, it may be that we need to add some more font support

[2017-10-26 14:58] Thomas101 commented on #432
Hi, we’ve just released this to the beta channel of Wavebox in version 3.4.3. If you want to give it a try there are some instructions on [how to use the beta channel here](https://wavebox.io/kb/beta-channel). Thanks

[2017-10-26 14:58] Thomas101 commented on #426
Hi, we’ve just released this to the beta channel of Wavebox in version 3.4.3. If you want to give it a try there are some instructions on [how to use the beta channel here](https://wavebox.io/kb/beta-channel). Thanks

[2017-10-26 14:59] Thomas101 commented on #420
Hi, we’ve just released this to the beta channel of Wavebox in version 3.4.3. If you want to give it a try there are some instructions on [how to use the beta channel here](https://wavebox.io/kb/beta-channel). Thanks

[2017-10-26 14:59] Thomas101 commented on #278
Hi, we’ve just released this to the beta channel of Wavebox in version 3.4.3. If you want to give it a try there are some instructions on [how to use the beta channel here](https://wavebox.io/kb/beta-channel). Thanks

[2017-10-26 14:59] Thomas101 commented on #95
Hi, we’ve just released this to the beta channel of Wavebox in version 3.4.3. If you want to give it a try there are some instructions on [how to use the beta channel here](https://wavebox.io/kb/beta-channel). Thanks

[2017-10-26 15:00] Thomas101 commented on #138
Wavebox 3.4.3 has just been released and adds support for Gmelius and Mixmax. [Switch to the beta channel here](https://wavebox.io/kb/beta-channel)

[2017-10-26 15:03] micahparker commented on #426
I just switched to beta this morning to see if it was there =) Ill update now and check it out, thank you!

[2017-10-26 15:05] micahparker commented on #426
Works like a charm, this is great!

[2017-10-26 17:34] animally commented on #138
I totally understand wanting to be cautious about extension support, but having to wait for certain extensions to go through this process is painful.  IMO, having support for something like Lastpass for password management should be a high priority.  But that being said, my priorities don't necessarily align with others.  Will there ever be a way to allow any extension be added "at my own risk"?

[2017-10-26 18:06] jjegg commented on #138
I really think that the highest support should be a language extension such
as grammarly or google translate. For email, I need to write professional
emails, and grammarly is my life saver. I almost don't want to use wavebox
for certain emails because of this.

On Thu, Oct 26, 2017 at 7:34 PM, animally <notifications@github.com> wrote:

[2017-10-26 18:15] nmat commented on #432
Works on macOS and windows 10. @ AltGr and Right Alt on macOS is now not locked on EU keyboards.

[2017-10-26 18:17] nmat commented on #278
Works in beta channel now for me. Tested on macOS and Windows 10

[2017-10-26 18:53] nmat commented on #438
hmmmm can you provide example of this? Not following on how to reproduce or the need for it.... :/

[2017-10-26 19:03] jjegg commented on #438
For example, on my wavebox I have added my company's JIRA Board. So I use
this tab to work on daily tasks. I am sometimes working on something and
need to send a link to my colleage for this. I am unable to copy/highlight
the text on top of the wavebox. Do you understand now?

On Thu, Oct 26, 2017 at 8:53 PM, nmat <notifications@github.com> wrote:

[2017-10-26 21:07] tonybyng commented on #138
Just wanted to give you a big A+ for sorting gmelius out. Saw the new beta update come through today and a broad grin came over my face when i saw gmelius listed. I know there are lots of other plugins that everyone wants, and probably a few more i'd like but with this recent update it means i can start using wavebox properly. Thanks.

[2017-10-26 21:46] nmat commented on #438
hmmm I am using linkedin and have a "copy current url" when I right click, that is not shown in JIRA or does it become wrong`?

[2017-10-26 21:57] nmat opened #439 "whats new (when there is new items) does not show up any news ever"
* Which version of Wavebox are you using?
3.4.3 beta

* Which Operating System are you using?
windows 10

* Description:
I have set the whats new to be: when there is new items

However come to think of it I have not yet seen any notification or anything about there being a new items in "whats new" since I set this behaviour. Is this correct or how should the behaviour act?

[2017-10-27 09:05] Thomas101 commented on #434
Looks like you're not the only person having this issue -> [gmail product forums](https://productforums.google.com/forum/#!topic/gmail/n7fiaFsPNEg;context-place=topicsearchin/gmail/filter$20messages)

[2017-10-27 09:07] Thomas101 commented on #383
@nmat can you drop me a message through [support](https://wavebox.io/support) when you get a chance ;-)

[2017-10-27 09:10] Thomas101 commented on #439
That's our fault, we've been a bit forgetful in pushing the notification out. Expect one early next week when 3.5.0 stable ships ;-)

[2017-10-27 10:06] jjegg commented on #438
Ahh gotcha. I did not know that the right click feature allowed the copy of
the existing page.  I guess this issue can be resolved then.

On Thu, Oct 26, 2017 at 11:46 PM, nmat <notifications@github.com> wrote:

[2017-10-27 10:51] nmat commented on #438
its probably still good that you can copy and paste from the addressbar.....just that this could be a workaround until it is fixed correctly for the addressbar

If that makes sense :)

[2017-10-27 12:54] themiguelamador opened #440 "Blank Tabs"
* Which version of Wavebox are you using? [e.g. 3.0.0]
3.4.3beta

* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]
macOS 10.13.1 Beta

Clicking to open a link on wavebox opens a blank tab on Chrome. This issue is reported using any link, from services, to support link.

[2017-10-27 14:05] Thomas101 commented on #440
Hi, a few people have reported this. It seems to be an issue with chrome/macOS. If you try the following does it make any difference?

* Check chrome is up to date
* Open System Preferences > General. Change your default Web Browser to Safari and then change it back to Chrome again

[2017-10-27 14:26] themiguelamador commented on #440
Solved after updating Chrome to last version Version 63.0.3239.18

[2017-10-27 14:26] #440 closed

[2017-10-27 18:42] shubhzgang commented on #345
for **ubuntu** users:
see if it is installed via snap:
`sudo snap list`
then remove it using the command
`sudo snap remove wavebox`

[2017-10-28 20:07] nmat commented on #204
Tested this on 17.10 of ubuntu on snap package and deb package.

Snap package (as mentioned before does use wrong font and cursor which seems also to be reported in upstream)

Deb package seems to work just fine.

Regarding the dialog for attach files. @fsdias do you mean the theme is wrong? or what seems to be the exact problem there?

[2017-10-28 20:10] nmat commented on #422
Tested on ubuntu 17.10 and works just fine also

[2017-10-29 07:33] itamaro commented on #429
so far, after going through this procedure, the setting is still enabled. I'll try to catch it if it changes again, maybe by an overzealous app.

[2017-10-29 11:19] nmat commented on #381
Installed the snap package on a 17.10 ubuntu desktop and checked the size of the files.

Using only gmail at the moment I can see it being about 40MB big. Not that much to be honest. @Naatan did you manage to test what @Thomas101 mentioned?

[2017-10-29 19:28] lherlitz commented on #138
Where is Grammarly on your list? It's got the most votes (by a HUGE margin) and other extensions are coming instead.

[2017-10-29 21:16] nmat opened #441 "[feature request]: Wavebox built in browser - cache last known position in files (pdf etc)"
* Which version of Wavebox are you using?
3.4.3 beta

* Which Operating System are you using?
windows 10

* Description:
viewing files in google drive for example lets you start from beginning of file all the time. However lets for example say you are doing a review of a paper or just viewing pdf file for reading. Scrolling back to where you last where checking takes long time and is very non user

[2017-10-29 21:22] nmat opened #442 "[feature request] wavebox built in browser - (auto) hide address bar when viewing files"
* Which version of Wavebox are you using?
3.4.3 beta

* Which Operating System are you using?
Windows 10

* Description:
When viewing a file in a different window. That is:

1. Go to google drive
2. Select a file for preview
3. Select "Open in new window"

The addressbar takes a lot of focus from viewing the document itself. That the address bar i available is good but auto hiding it unless the us

[2017-10-30 01:52] bearhagen commented on #204
Running Ubuntu 17.10 with Wavebox 3.4.0.

Links are not working, I also get the weird hand cursor and context windows looks like windows 95.
The latter issues which are upstream doesn't really matter too much, links however, is more important.

Any idea how I can get them working?
I have xdg-utils and snapd-xdg-open installed.

[2017-10-30 06:27] nmat commented on #204
@bearhagen the cursor problem is from snap packaging and links I can imagine also is part of it. See below:

https://bugs.launchpad.net/snappy/+bug/1621568
https://bugs.launchpad.net/ubuntu/+source/snapd/+bug/1579268

[2017-10-31 02:13] tgrrr opened #443 "Getting notifications for all Google Inbox emails, They're not filtered on Mac"
Hi, I'm getting notifications as each mail comes in with Google Inbox

The goal is to have notifications if an email is unbundled anywhere.

Cheers,

Phil

General Settings:
![wavebox___phil_tgrrr_com___inbox_ _phil_tgrrr_com](https://user-images.githubusercontent.com/4689707/32204377-f134c21a-be3c-11e7-8b96-d69d2b1298f4.png)

Account Settings:
![wavebox___phil_tgrrr_com___inbox_ _phil_tgrrr_com](

[2017-10-31 08:20] Thomas101 commented on #441
Is this just for pdf files or webpages in general?

[2017-10-31 08:21] Thomas101 commented on #442
Definitely. It's still a bit clunky from a UI perspective at the moment. I think there was some talk about adding tab support too, but I'm not too sure whats happening with that at the moment

[2017-10-31 08:30] Thomas101 commented on #443
Hi, at the moment Inbox doesn't have support for searching for unbundled messages directly [(info)](https://productforums.google.com/forum/#!topic/inbox/2pO128A3Apo). However, you can emulate the behaviour by excluding labels that are bundled. For example using the following gets you pretty close...

```label:inbox label:unread -has:userlabels -category:promotions -category:forums -category:social

[2017-10-31 08:33] nmat commented on #442
@Thomas101 sounds awesome! it would help when reading at least pdfs or mails that is opened in its own window to set focus on the content rather then the addressbar. :)

[2017-10-31 08:37] nmat commented on #441
I have only noticed it in PDFs. I am reading quite a lot of PDFs using the google drive and noticed that its rather tedious to scroll through a 500 page PDF to the last place of reading. I know that (some) PDF viewers have last known position but not sure if it is possible in current state of how PDFs look.

If the cache could message you "Go to last position" or similar it would allow you to star

[2017-10-31 10:07] Jan-Jan opened #444 "Webcam not available/accessible"
* Which version of Wavebox are you using? [e.g. 3.0.0]

3.4.0

* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]

Ubuntu 17.10

* To replicate

1. In Google Calendar open meeting
2. Click on hangout
3. This will open Wavebox with audio, but no access to webcam

[2017-10-31 10:09] Jan-Jan opened #445 "Rendering problems: ficklering or blocks of screen real estate dissappearing"
* Which version of Wavebox are you using? [e.g. 3.0.0]

3.4.0

* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]

Ubuntu 17.10

* Replicate

1. Click on Settings
2. Scroll up and down OR click anywhere

Will see parts of the screen turn white. Or flicker badly.

[2017-10-31 11:44] nmat commented on #445
@Jan-Jan are you using the .deb package or snap install?

[2017-10-31 11:47] nmat commented on #424
@naderby where you able to test what @Thomas101 mentioned?

[2017-10-31 12:08] Jan-Jan commented on #445
I installed it via the installer. When I click on the details it referencess `Source: Snap Store`

[2017-10-31 12:14] nmat commented on #445
there has been some issues regarding rendering in snap packages. There are some bugs on ubuntu regarding it. If possible can you test using the .deb package and see if you get the same effect there?

[2017-10-31 12:15] nmat commented on #445
you can find the package for .deb here: https://github.com/wavebox/waveboxapp/releases/tag/v3.4.0

[2017-10-31 13:36] Jan-Jan commented on #445
Thank you, this appeared to have solved the problem

[2017-10-31 13:36] #445 closed

[2017-10-31 13:48] nmat commented on #445
seems like the snap packages does have lots of issues regarding rendering, sad to see really. Might be that it is reported on launchpad already.

You can always check: https://launchpad.net/snappy if there is something there.

[2017-10-31 14:36] Thomas101 commented on #138
@lherlitz spooky timing 🎃  since we're working on it now. Some code already in git today, more to follow shortly...

[2017-10-31 15:49] robin31 commented on #7
Still having this in 3.4.0

[2017-10-31 22:54] johnnyasantoss commented on #384
This would be really great. Flatpak is supported in many different distros and it is super easy to install and use.

[2017-11-01 00:29] raptor235 commented on #395
I've submitted a bug report to apple.. problem id 35284875 not sure if they'll ever get to it... if they don't I guess a downgrade back to sierra will be required... I can't put up with this much longer.

[2017-11-01 04:59] tgrrr commented on #443
Thanks @Thomas101 ,

The search query

`label:inbox label:unread`

gives me exactly the messages that I'd like **notifications** for. However, setting this up as above (see screenshots) gives me notifications for all new bundled mail that arrives.

That is, I only want to be interrupted/notified by emails that I deem important. I understand that the section is for 'unread and sync'. But if there a

[2017-11-01 08:41] Thomas101 commented on #438
Hi, this has just been released in the latest version of Wavebox (3.5.0) and Wavebox beta (3.5.1). You can get the update by using the Application/File menu and clicking `Check for Update` or by downloading the latest version from our [download page](https://wavebox.io/download). Thanks!

[2017-11-01 08:41] #438 closed

[2017-11-01 08:41] Thomas101 commented on #278
Hi, this has just been released in the latest version of Wavebox (3.5.0) and Wavebox beta (3.5.1). You can get the update by using the Application/File menu and clicking `Check for Update` or by downloading the latest version from our [download page](https://wavebox.io/download). Thanks!

[2017-11-01 08:41] #278 closed

[2017-11-01 08:41] Thomas101 commented on #432
Hi, this has just been released in the latest version of Wavebox (3.5.0) and Wavebox beta (3.5.1). You can get the update by using the Application/File menu and clicking `Check for Update` or by downloading the latest version from our [download page](https://wavebox.io/download). Thanks!

[2017-11-01 08:41] #432 closed

[2017-11-01 08:41] Thomas101 commented on #426
Hi, this has just been released in the latest version of Wavebox (3.5.0) and Wavebox beta (3.5.1). You can get the update by using the Application/File menu and clicking `Check for Update` or by downloading the latest version from our [download page](https://wavebox.io/download). Thanks!

[2017-11-01 08:41] #426 closed

[2017-11-01 08:42] Thomas101 commented on #420
Hi, this has just been released in the latest version of Wavebox (3.5.0) and Wavebox beta (3.5.1). You can get the update by using the Application/File menu and clicking `Check for Update` or by downloading the latest version from our [download page](https://wavebox.io/download). Thanks!

[2017-11-01 08:42] #420 closed

[2017-11-01 08:42] Thomas101 commented on #422
Hi, this has just been released in the latest version of Wavebox (3.5.0) and Wavebox beta (3.5.1). You can get the update by using the Application/File menu and clicking `Check for Update` or by downloading the latest version from our [download page](https://wavebox.io/download). Thanks!

[2017-11-01 08:42] #422 closed

[2017-11-01 08:42] Thomas101 commented on #419
Hi, this has just been released in the latest version of Wavebox (3.5.0) and Wavebox beta (3.5.1). You can get the update by using the Application/File menu and clicking `Check for Update` or by downloading the latest version from our [download page](https://wavebox.io/download). Thanks!

[2017-11-01 08:42] #419 closed

[2017-11-01 08:42] Thomas101 commented on #194
Hi, this has just been released in the latest version of Wavebox (3.5.0) and Wavebox beta (3.5.1). You can get the update by using the Application/File menu and clicking `Check for Update` or by downloading the latest version from our [download page](https://wavebox.io/download). Thanks!

[2017-11-01 08:42] #194 closed

[2017-11-01 08:42] Thomas101 commented on #232
Hi, this has just been released in the latest version of Wavebox (3.5.0) and Wavebox beta (3.5.1). You can get the update by using the Application/File menu and clicking `Check for Update` or by downloading the latest version from our [download page](https://wavebox.io/download). Thanks!

[2017-11-01 08:42] #232 closed

[2017-11-01 08:42] Thomas101 commented on #417
Hi, this has just been released in the latest version of Wavebox (3.5.0) and Wavebox beta (3.5.1). You can get the update by using the Application/File menu and clicking `Check for Update` or by downloading the latest version from our [download page](https://wavebox.io/download). Thanks!

[2017-11-01 08:42] #417 closed

[2017-11-01 08:42] Thomas101 commented on #409
Hi, this has just been released in the latest version of Wavebox (3.5.0) and Wavebox beta (3.5.1). You can get the update by using the Application/File menu and clicking `Check for Update` or by downloading the latest version from our [download page](https://wavebox.io/download). Thanks!

[2017-11-01 08:42] #409 closed

[2017-11-01 08:43] Thomas101 commented on #407
Hi, this has just been released in the latest version of Wavebox (3.5.0) and Wavebox beta (3.5.1). You can get the update by using the Application/File menu and clicking `Check for Update` or by downloading the latest version from our [download page](https://wavebox.io/download). Thanks!

[2017-11-01 08:43] #407 closed

[2017-11-01 08:43] Thomas101 commented on #406
Hi, this has just been released in the latest version of Wavebox (3.5.0) and Wavebox beta (3.5.1). You can get the update by using the Application/File menu and clicking `Check for Update` or by downloading the latest version from our [download page](https://wavebox.io/download). Thanks!

[2017-11-01 08:43] #406 closed

[2017-11-01 08:43] Thomas101 commented on #95
Hi, this has just been released in the latest version of Wavebox (3.5.0) and Wavebox beta (3.5.1). You can get the update by using the Application/File menu and clicking `Check for Update` or by downloading the latest version from our [download page](https://wavebox.io/download). Thanks!

[2017-11-01 08:43] #95 closed

[2017-11-01 08:43] Thomas101 commented on #401
Hi, this has just been released in the latest version of Wavebox (3.5.0) and Wavebox beta (3.5.1). You can get the update by using the Application/File menu and clicking `Check for Update` or by downloading the latest version from our [download page](https://wavebox.io/download). Thanks!

[2017-11-01 08:43] Thomas101 commented on #413
Hi, this has just been released in the latest version of Wavebox (3.5.0) and Wavebox beta (3.5.1). You can get the update by using the Application/File menu and clicking `Check for Update` or by downloading the latest version from our [download page](https://wavebox.io/download). Thanks!

[2017-11-01 09:24] rodolfocam commented on #444
Can try with windows 10 64 pro?

[2017-11-01 09:38] naderby commented on #424
Yes it works.

[2017-11-01 10:18] nmat commented on #424
Can this ticket be closed? Was this the effect you where looking for? Or do you feel something is missing?

[2017-11-01 10:20] nmat commented on #444
@Jan-Jan does the same effect happen on both snap and .deb package?

Hangouts is still a bit of a fuzzy area AFAIK. Some support might not be there yet. But please test using the .deb package also to see if the camera works.

[2017-11-01 10:21] nmat commented on #429
@itamaro if possible can you test this in 3.5.0 stable that came out today?

[2017-11-01 10:34] #424 closed

[2017-11-01 10:53] nmat commented on #411
I have not been able to reproduce this unless there is something blocking the connection like a firewall or application rules in for example avast.

Its hard to reproduce unless there is a valid and new testing for it.

[2017-11-01 11:03] nmat commented on #391
@robdam1001 do you still experience problems with this after the 3.5.0 release?

[2017-11-01 11:05] nmat commented on #368
@balloch does this continue to happen after 3.5.0 release? Are you using snap or deb package?

[2017-11-01 11:52] Thomas101 commented on #395
@raptor235 there's some chatter on the Chromium issue tracker about this being a problem with the GPU driver. I think the Chromium team are looking to disable certain gpu features on certain machines until Apple patch the driver. Once a fix makes it out into a Chromium release, we'll be updating Wavebox too

[2017-11-01 11:59] raptor235 commented on #395
Yeah I've tried disabling some of those features in chrome flags which kills the performance... so not sure how much of a fix that's going to be... we really need to make a stink of this to apple because it seems they're going to be the only ones to be able to fix this. Since it's older hardware I don't know if it's going to be at any high priority... you know they're working on implementing the n

[2017-11-01 12:03] Thomas101 commented on #443
`label:inbox label:unread` really should be giving you everything in the inbox bundled or not. For example, I've got a `Wavebox Github` bundle that Github emails fall into. Running `label:inbox label:unread` brings these up in the search.

Which bundles are you trying to exclude? Are they custom folders or ones that inbox comes built in with? If you open up your Google Inbox settings and click the

[2017-11-01 12:11] Thomas101 commented on #444
@Jan-Jan we've just tested with 17.04 and it seems to work here. If you try with your browser does that work? (Just wondering if it might be a driver configuration problem). If not I'll setup a 17.10 machine to see what happens

[2017-11-01 12:33] joeoftheforsythe commented on #409
Man that's fantastic. Thanks!

[2017-11-01 12:34] luispabon opened #446 "No systray icon (ubuntu / snap)"
* Which version of Wavebox are you using?
Snap 3.5.0

* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]\
Ubuntu 17.10 / Unity 7

The systray icon is not showing on Unity 7 when Wavebox is installed from a snap instead of a .deb package. This is a from-scratch installation, and the relevant option to show the icon is activated at Wavebox's config, like so:

![image

[2017-11-01 13:00] luispabon commented on #444
Definitely doesn't work as a snap but works on .deb

[2017-11-01 13:46] amancevice opened #447 "WaveBox does not remember zoom state on startup"
WaveBox `3.5.0` on macOS `10.13.1`

Applications on macOS can be set to full-screen mode where they occupy all screen real-estate. This feature is unique to macOS as far as I know and doesn't exist in Windows or Linux. macOS apps should remember their "zoom" state on exit and when re-opened they resume in the same state.

For an example of this behavior:

* Open Safari in macOS
* Enter full-screen

[2017-11-01 14:30] maroc81 opened #448 "Select services to show in sidebar"
* Which version of Wavebox are you using? 3.5.0

* Which Operating System are you using? Ubuntu 16.04

It would be nice to allow a user to select which services to show in the sidebar.  As is, it's an all or nothing option.  For example, I would like to add calendar for office 365 to the sidebar in addition to email but I don't want to see all the other services.  Same for gmail and hangouts.  Whe

[2017-11-01 14:49] nmat commented on #448
You can do this if you right click the account and choose the services in there.

Regarding all services things are added one by one.

[2017-11-01 14:51] nmat commented on #448
You can follow this: https://wavebox.io/kb/services-toolbar

and if you scroll further down you can see the services which can be shown or hidden.

[2017-11-01 14:53] nmat commented on #447
This sounds a bit like: https://github.com/wavebox/waveboxapp/issues/393 ?

[2017-11-01 14:58] amancevice commented on #447
I don't think so, @nmat. Maybe similar, but this issue is specific to macOS and I see #393 is specific to Windows.

I don't know if you've used macOS at all, but its full-screen mode is quite different than Windows. On macOS it's more like when you go full-screen in YouTube or Netflix.

[2017-11-01 15:04] maroc81 commented on #448
Right, but I still want to be able to access the other services through the top bar. So for example, if hangouts were in the side bar, I could go directly to hangouts from the sidebar as messages come in, but I can still access google drive occasionally as needed from the top bar.

The idea here is:  Access frequently used services in the sidebar, and less frequently used services in the top bar.

[2017-11-01 15:13] itamaro commented on #429
sure. upgraded and the setting is still enabled (since the last procedure you suggested). did another restart, and it's still ok.

[2017-11-01 15:38] nmat commented on #448
ok you want to modify both bars in a custom way.

At the moment I do not believe this is possible. However you can. There are quite some work going on to the interface and maybe this will happen in the future. I thought you just couldn't disable the services in those specific accounts.

[2017-11-01 15:47] maroc81 commented on #448
Yep that's the idea. I have 6 accounts in wavebox and moving all services to sidebar overruns it. For now, I just have to click on google, then hangouts.  So far, that's the only feature missing that I want.

[2017-11-01 15:53] nmat commented on #447
@amancevice I just tested it on my macbook pro using 3.5.1 beta

On there the zoom is saved: Notice though that I am testing on a gmail account only on macOS High Sierra

I did also test it on my windows 10 pro machine and that saved the zoom also. (using google and mixed connections)

In both cases:
* they opened in fullscreen mode
* and zoom is saved

Have you set safari as the default browser o

[2017-11-01 15:57] nmat commented on #447
sorry...I mean if there is a preference change at all that you have done? For example to use the "Use Zoom For DSF" or similar

[2017-11-01 16:54] themiguelamador opened #449 "Mixmax enabled does not allow attachment download in Gmail"
* Which version of Wavebox are you using? [e.g. 3.0.0]
3.5.1beta
* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]
MacOS 10.13.1 Beta

When clicking to download on Gmail in attachments nothing happens. Using Mixmax but not seems to be related as it does not change anything there. Download works for instance in google drive.

Here are my settings.

<img width="567"

[2017-11-01 17:01] nmat commented on #449
Just tested it on macOS High Sierra 10.13 with wavebox 3.5.1 beta and the popup do come up for me in gmail. I do not have Mixmax installed only markdown

[2017-11-01 17:04] themiguelamador commented on #449
Yes, Mixmax somehow is the issue! After disabling it, started working fine.

[2017-11-01 17:10] nmat commented on #449
Yes I have verified it on macOS and Windows 10 now.

Somethine odd is going on with the extension causing the attachments to not be able to be downloaded.

If possible can you change topic on this issue to something like "Mixmax enabled does not allow attachment download in Gmail"?

its mostly to pin point the root cause of the issue in general

[2017-11-01 17:11] nmat commented on #448
then I am with you. Yeah I do not think it is possible to do that at the moment.

[2017-11-01 17:37] amancevice commented on #447
Thanks @nmat, I downloaded 3.5.1 from GitHub and tried it out: no luck.

The problem is a little hard to explain, so forgive me for being hyper-descriptive in my instructions.

Anyway, try this:

* In macOS, open WaveBox, go into full-screen/zoom mode (ctrl-⌘-F)
* Open mission control (gesture on track pad is three/four finger swipe up, if enabled)
* WaveBox *should* minimize to the top area of mi

[2017-11-01 19:08] zanewolf commented on #411
Hi!

I solved it through my antivirus, ESET. Thank you for pointing me in that direction!

Cheers,
Z

[2017-11-01 20:06] nmat commented on #447
I just tested this. And according to my mission control it is on top next to Desktop.

Are you quiting wavebox in a specific way?

Also I verified it was fullscreen when I quit and started it.

[2017-11-01 20:07] nmat commented on #411
@zanewolf good to hear that you managed to solve it. Was it blocked or something in ESET?

[2017-11-01 20:19] zanewolf commented on #411
Yep. Once I figured out how to add sites manually to ESET's 'green list', wavebox began working again.

[2017-11-02 08:28] Thomas101 commented on #446
We're seeing the same here. Only on 17.10 though. I'll take a look into what's happening!

[2017-11-02 08:29] Thomas101 commented on #444
@luispabon good point! @Jan-Jan what install method did you use?

[2017-11-02 08:30] Thomas101 commented on #429
Awesome, I'll close this off for now and fingers crossed it should stick :). If it doesn't re-open the issue and we can dig a bit deeper

[2017-11-02 08:30] #429 closed

[2017-11-02 08:30] Thomas101 commented on #449
Thanks! I'll take a look as to what Mixmax is doing/what we're not handling

[2017-11-02 08:32] Thomas101 commented on #448
I think there might be something we can look at doing here. In the meantime, when you show them in the sidebar, have you tried setting them to collapse when the account is inactive? It might help manage multiple accounts

[2017-11-02 08:46] Thomas101 commented on #447
As for the desired behaviour, I've given the steps that you described a try with Safari. Everything works the same, except Safari just re-opens as a window. The same way you described as being the wrong behaviour. I managed to get it to minimize up to the top area etc no bother!

The three things I can think of are....

1. Maybe I've got Mission Control configured differently. Can you send a scree

[2017-11-02 08:47] Thomas101 commented on #411
I think 3.5.0 has some info in the connection screen about checking the AV & firewall as well as the test connection button which is a bit more obvious.

Glad to hear you got it working :)

[2017-11-02 09:06] itamaro commented on #429
Great, thanks for everything! :-)

On Thu, Nov 2, 2017 at 10:30 AM Thomas Beverley <notifications@github.com>
wrote:

[2017-11-02 09:43] nmat opened #450 "Keyboard change of services using Ctrl+Shift+number window flashes"
* Which version of Wavebox are you using?
3.5.0

* Which Operating System are you using?
Windows 10

* Description:
There are 2 odd effects using Ctrl+Shift+Number and I will list them below

1. Window "reloads" or flashes on change with keyboard but not with mouse click
- I am using 2 different windows on one screen so they split the area: | wavebox | atom |
- When I click the service for Google

[2017-11-02 10:07] luispabon commented on #446
[code]
Could it be this electron bug again?

[2017-11-02 10:09] luispabon opened #451 "Clicking on links won't open browser"
* Which version of Wavebox are you using?
3.5.0 / snap

* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]
Ubuntu 17.10 / Unity 7

Clicking on links seem to have no effect. I do have snapd-xdg-open installed.

[2017-11-02 11:45] amancevice commented on #447
You're right, @Thomas101, I completely forgot that there is a default setting that needs to be changed (been so long since I un-ticked that box.

Go to `System Preferences => General` and uncheck the box that reads: `Close windows when quitting an app`

<img width="780" alt="screen shot 2017-11-02 at 7 45 19 am" src="https://user-images.githubusercontent.com/157711/32324440-d37aecde-bfa1-11e7-9432

[2017-11-02 18:12] Aubron opened #452 "Build or supply a process for building with Widevine"
https://github.com/electron/electron/blob/master/docs/tutorial/using-widevine-cdm-plugin.md

Electron builds without widevine support, implying that DRM protected content can't play in Wavebox. I have a dream of using spotify with the platform, would really love to be able to have support for this, even if I have to build the executable myself.

[2017-11-02 21:28] aQziany commented on #130
Toggl
1Password
Mailbird

[2017-11-02 22:16] TheWithz opened #453 "Potential Memory leak?"
* Which version of Wavebox are you using? [e.g. 3.0.0]
3.5.1 beta
* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]
[Solus 3](https://solus-project.com)

So, I checked my email this morning on Wavebox, like I do every morning, then went to my classes and just returned. `so about 9 hours.` I go on my computer and see this

I have 64 gigabytes of ram...

[2017-11-03 00:29] michael-wing commented on #248
Hi Guys, are you planning to implement Mac's "text replacement" feature any time soon?
This is the only reason that stops me to purchase the app for the whole team - apart from that it is way better than any other app I tried.

[2017-11-03 06:38] nmat commented on #439
I am going to close this because it works on both beta and stable now. Seen it work just fine.

thank you

[2017-11-03 10:57] Thomas101 commented on #453
Wow, that shouldn't be happening. A few things will probably help us to diagnose...

1. Which install method did you use to install? (e.g. deb, snap, tar etc...)
2. Which accounts have you got added into Wavebox and what's the sleep status of each? (sleep can be found under settings for each account and service) e.g....
  * Gmail (no sleep)
    * Calendar (no sleep)
    * Notes (sleep)
  * Web lin

[2017-11-03 11:42] nmat commented on #451
@luispabon hello, it seems that this is reported on launchpad for snapd packages already:

https://bugs.launchpad.net/snappy/+bug/1580740

I would suggest that if you want to use a working or better version until snapd has fixed it then try the .deb packages. They are located here on github for wavebox and also on wavebox.io

[2017-11-03 15:01] skyborgff opened #454 "npm run install:all errors"
* Which version of Wavebox are you using? [3.5.1]

* Which Operating System are you using? [Windows 10]

When trying to build it gives me a lot of errors

[code]

[2017-11-04 11:28] durandom commented on #428
Same for trello. I get notifications for trello updates and they should open in the trello tab

[2017-11-04 12:33] durandom opened #455 "Open .gdoc .gdraw .gslides in Wavebox"
* Which version of Wavebox are you using? 3.5.0

* Which Operating System are you using? Mac OSX 10.13.1

The Google Drive desktop app syncs files with e.g. .gdoc extension. When clicking those files in the Finder they open via the default browser.
You can right click the file and select "Open with Wavebox", but that won't open the document in Google docs, but nothing happens.

Note that kiwi app

[2017-11-04 16:25] rhoconlinux opened #456 "Fix required: icon name of Wavebox is incorrect on linux"
* Which version of Wavebox are you using? [e.g. 3.0.0]
3.5
* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]
Ubuntu 16.04

The issue:
After the last update, the .desktop file is referring [wrongly] to the app icon, which is named "icon.png". This  should be corrected since not only is super ambiguous at system level, but also makes impossible to apply different ic

[2017-11-05 14:57] amancevice commented on #447
Hi, @Thomas101 & @nmat, just checking in on this

[2017-11-06 11:37] Thomas101 commented on #450
Sounds like something may have wrong there. If it happens again can you hit <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>J</kbd> to open the developer tools and click on the console tab do you have any errors there? If so can you send a screenshot?

[2017-11-06 11:54] Thomas101 commented on #446
I've been playing around with electron to see if I can get to the bottom of this. Looks like it's been fixed in 1.8.2-beta. We're looking to update to the 1.8.* releases shortly, so I'm hoping this will solve the problem

[2017-11-06 12:00] Thomas101 commented on #454
if you try running `npm install` and then `npm run install:all` does that work?

[2017-11-06 12:02] Thomas101 commented on #455
Definitely, that would be a nice addition!

[2017-11-06 12:08] nmat commented on #450
I think I know why....it could be that the Ctrl+Shift combo is being used when inside office365 for the internal keyboard shortcut to change the view.

In this case the tab change does not occur but inside for example office365 (outlook it would change the tab in the office site instead of the tab in wavebox) so the combination is being used for internal office365 site also.

[2017-11-06 12:11] nmat commented on #450
I think that if Ctrl+LeftAlt+Number is used. Instead of Ctrl+Shift then that problem would go away. Not 100% sure though. :/

[2017-11-06 13:03] nmat commented on #450
Sorry....I mean Shift+LeftAlt+Number should be better then Ctrl+Shift+Number

One more reason for this is that for hand posture that combination is more natural than Ctrl+Shift+Number

[2017-11-06 13:24] andrew-nguyen commented on #421
I have the same issue and I have quite a few accounts:

- tacoapp (weblink)
- Slack
- Asana (weblink)
- Jira (weblink)
- Slack

[2017-11-06 13:47] Thomas101 commented on #452
We are aiming to add support for widevine in an upcoming release.

At the moment if you grab the plugin from your chrome install in the same way that electron wiki describes, you can pass Wavebox the `widevine-cdm-path` and `widevine-cdm-version` arguments from the command line.

[2017-11-06 14:46] Thomas101 commented on #456
I'll change the filename to be `wavebox_icon.png` for the next release. Which install method were you using?

[2017-11-06 16:21] Thomas101 commented on #447
Okay, I see the same behaviour with that setting enabled. I'll take a look to see what's going on

[2017-11-06 16:35] skyborgff commented on #454
`npm install` worked, but `npm run install:all` didn't

`0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'install:all' ]
2 info using npm@5.5.1
3 info using node@v8.9.0
4 verbose run-script [ 'preinstall:all', 'install:all', 'postinstall

[2017-11-06 17:03] amancevice commented on #447
Thanks, & sorry for the run-around

[2017-11-06 18:24] felipedrumond commented on #395
I'm having exactly the same issues mentioned in this thread, but only in Chrome based apps, such as Chrome and Postman.

[2017-11-06 22:35] TheWithz commented on #453
Hello, sorry for the late follow-up. I was away for the whole weekend and did not have access to my computer.

1. Inbox (no sleep)
    - Calendar (no sleep)
    - Drive
    - Drive
    - Drive
    - Drive
    - Drive
    - Drive
    - Drive
2. Four Slack accounts
3. Two weblinks

1. markdownHere
2. Gmelius

[2017-11-06 22:42] TheWithz commented on #453
Hello, sorry for the late follow-up. I was away for the whole weekend and did not have access to my computer.

1. Inbox (no sleep)
    - Calendar (no sleep)
    - Drive (sleep 300)
    - Keep (sleep 300)
    - Photos (sleep 300)
    - Hangouts (no sleep)
    - Contacts (sleep 300)
    - Docs (sleep 300)
    - Sheets (sleep 300)
    - Slides (sleep 300)
    - Analytics (sleep 300)
    - Youtube (sl

[2017-11-06 22:44] TheWithz commented on #453
As far as the Task Monitor goes, I've only seen it after I come back from classes after being gone all day, and by then the computer has either restarted or the app has crashed, which is what gave the error output in the terminal.

[2017-11-07 01:02] tgrrr commented on #443
Thanks @Thomas101, that worked.

I found my sweet spot by adding `is:pinned`

`label:inbox label:unread -has:userlabels -category:promotions -category:forums -category:social -category:Updates  -category:Finance -category:promos OR is:pinned`

One suggestion: Is there a way to label the options: 'notification labels/categories etc' for clarity?

[2017-11-07 10:38] Thomas101 commented on #451
After a bit more digging, it looks like the Snap team have added support for `xdg-open` without the need for `snapd-xdg-open` in Snap core 2.28 (yay!). The `snapd-xdg-open` workaround seems to keep working on everything we've tested apart from 17.10.

We'll make sure our build boxes are up to date and remove the additional dependency in the next beta so this should start working again

[2017-11-07 10:59] Thomas101 commented on #450
Okay yeah, I see the same now. Let me take a look to see if I can disable the keyboard shortcuts

[2017-11-07 11:58] Thomas101 commented on #454
It looks like npm on windows needs to use `npm.cmd` when spawning rather than just plain old `npm`. If you try https://github.com/wavebox/waveboxapp/commit/0656a9722e8ed82f0a399c056956d771d4fb667e does that work?

[2017-11-07 12:09] rinopo opened #457 "Typo: "on of" should be "one of""
* Which version of Wavebox are you using? [e.g. 3.0.0]
3.5.0

* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]
mac os sierra 10.12.6

"on of the following modes" should be "one of the following modes"

https://github.com/wavebox/waveboxapp/blob/ff5d9041efcf6a31e888e25df0fd7375ce8e59b4/src/scenes/mailboxes/src/Scenes/MailboxWizardScene/WizardConfigure/WizardConfig

[2017-11-07 13:23] Thomas101 commented on #457
Thanks for pointing that out :)

[2017-11-07 13:51] Thomas101 commented on #421
Thanks @andrew-nguyen I've tried with that same setup and still not seeing it my end. Which OS are you using? Does it happen as soon as it loads up or is it after a bit of use it breaks?

[2017-11-07 13:53] Thomas101 commented on #453
Thanks for the info! I wonder if it's a memory leak in some of the hosted content. Would you be able to take a snapshot of the task monitor and then say 6 or 12 hours later do that again? We can have a look to see if anything has creeped up then

[2017-11-07 14:00] TheWithz commented on #453
This is the task list now, I'll leave it on while I go to classes today.
![screenshot from 2017-11-07 08-57-33](https://user-images.githubusercontent.com/8269545/32497273-05ba7042-c39a-11e7-86fe-8e1455079ca5.png)
![screenshot from 2017-11-07 08-57-43](https://user-images.githubusercontent.com/8269545/32497274-05c5c76c-c39a-11e7-9eba-3bdeefd16025.png)

[2017-11-07 14:04] Thomas101 commented on #443
Awesome, glad you got it working. The next beta has some more info on how to get these setup with a link to the knowledge base article etc.

[2017-11-07 14:04] #443 closed

[2017-11-07 14:16] skyborgff commented on #454
didn't worked, same error
'''
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'install:all' ]
2 info using npm@5.5.1
3 info using node@v8.9.0
4 verbose run-script [ 'preinstall:all', 'install:all', 'postinstall:all' ]
5 info lifecycle wa

[2017-11-07 14:21] Thomas101 commented on #449
I've just pushed a fix for this to the extension config. You don't need to update Wavebox, but will need to remove Mixmax and re-add it again this time. After that you should be able to download attachments again :)

[2017-11-07 14:21] #449 closed

[2017-11-07 19:40] andrew-nguyen commented on #421
@Thomas101 It's never worked - as soon as it load, dragging doesn't work as expected. I'm on a Mac, 10.12.6

[2017-11-07 22:39] TheWithz commented on #453
just arrived back from classes to find that Wavebox has crashed again, which means I cannot see the task monitor. This is the error from the terminal, same as the previous one.

[2017-11-07 22:44] TheWithz commented on #453
is there a way I can modify the Wavebox build with a simple if statement. Something like `if(memory used by [Pid] is > 1GB) print [name] of [Pid]` I chose 1GB arbitrarily but since something is eating in excess of 64 GB... 1 is small potatoes.

[2017-11-07 22:58] jottr opened #458 "Feature suggestion: Markdown"
I am using [Markdown here](http://markdown-here.com/) when not in Wavebox and find it very useful.
This would be a very useful feature in wavebox.
I'd like to kindly request the addition of "Markdown here" to wavebox.

[2017-11-07 23:58] TheWithz commented on #458
Markdown here is already implemented is it not... https://github.com/wavebox/waveboxapp/issues/138

[2017-11-08 08:54] nmat commented on #458
@jottr as @TheWithz mentioned it is included already. You can also read the blog post on: https://blog.wavebox.io/wavebox-release-news-leaner-faster-plus-more-services-extensions/

[2017-11-08 09:59] luispabon opened #459 "Wrong notification text when writing an email and receiving another on same gmail thread"
* Which version of Wavebox are you using?
3.5.1 beta

* Which Operating System are you using?
Ubuntu 17.10 / Unity 7

So I was replying to an email thread just now in gmail while I received a new email on the same thread. Wavebox fired up a notification showing the email I was writing, not the email received.

This happened on the first email received as I wrote. Subsequent emails displayed the ri

[2017-11-08 10:54] Thomas101 commented on #454
The install:all scripts just runs through the subdirectories running `npm install`. I wonder if sterr isn't being piped out on Windows or something - hence we're not seeing an error that really tells anything.

If you try moving into the following directories and running `npm install` on each do you get any errors or are they all okay?

`src/app`
`src/guest`
`src/crextensionApi`
`src/scenes/mailbo

[2017-11-08 10:55] jottr commented on #458
I see, thx!

[2017-11-08 10:55] #458 closed

[2017-11-08 11:05] Thomas101 commented on #453
Open Dev tools with <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>J</kbd>, click on the console tab and paste the following...

[code]

Make sure you change the path it's writing out to. You'll get a nice big dump of all the processes and the urls for them where applicable. The app will also quit when the process is big

[2017-11-08 11:06] Thomas101 commented on #459
Thanks, I might have an idea as to what this is...

[2017-11-08 11:54] Thomas101 commented on #459
I'm having a little trouble reproducing this. This is the flow I tried...

1. email1@gmail.com send email to email2@gmail.com
2. email2@gmail.com reply to email1@gmail.com
3. email1@gmail.com reply email to email2@gmail.com
(Now I have a thread in both accounts, so I can start replying mid-flow)
4. email2@gmail.com compose reply, but don't send
5. email1@gmail.com reply to thread
6. Right click on

[2017-11-08 12:02] luispabon commented on #459
None at all, no. I do have loads of Google and slack accounts set though.

On Wed, 8 Nov 2017, 11:54 Thomas Beverley, <notifications@github.com> wrote:

--
Kind regards,
Luis Pabon

[2017-11-08 14:11] TheWithz commented on #453
I left Wavebox on overnight and was about to post the new function into the console when I saw this. Not sure if you can glean any more new info from it.
![screenshot from 2017-11-08 09-07-12](https://user-images.githubusercontent.com/8269545/32553375-bd728ede-c464-11e7-82ef-254c924a3c21.png)

[2017-11-08 14:21] Thomas101 commented on #453
If you've got more than 10 tabs open at any one time that's normal. Nobodies got around to increasing the max listener number yet

[2017-11-08 21:33] TheWithz commented on #453
Hmm... came back from classes today to find my computer shut off, Got excited because the log should have been able to catch what the culprit was. Boot up, look at the file... It's empty. Not sure what went wrong. I changed the path to correct file. `/home/thewithz/big.txt`

[2017-11-08 21:57] GollyJer opened #460 "Some weirdness with Mixmax extension."
* Which version of Wavebox are you using?
**3.5.1 beta**

* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]
**Windows 10**

When using the Mixmax extension (THANKS for implementing this one by the way) it works great in the compose window, but the lightning bolts to opens are missing.  Also, all settings screens are empty.

This screenshot shows both issues.
![201

[2017-11-09 09:14] Thomas101 commented on #459
Does it happen everytime, or was it just on this one occasion? I wonder if Google was playing up

[2017-11-09 09:16] Thomas101 commented on #453
I guess the other thing to try is just writing the log every x minutes. We can assume the last one is when it crashed. This should just write out every minute. If there's any process grown out of control we should be able to see it!

[code]

[2017-11-09 09:23] Thomas101 commented on #460
Thanks for reporting. The empty settings screen I've seen - we've got a fix for this ready to land in 3.5.2beta.

As for the lightning bolts, they appear to be there when we've been testing. If you try sending a fresh email does a lightning bolt appear next to that one? If you try restarting Wavebox does that work? Finally how many Google accounts do you have added?

[2017-11-09 10:13] luispabon commented on #459
This one occasion. The difference between the first time, when it happened,
and the others, when it didn't, is that I was actually typing on the email.
When the subsequent emails arrived I was in fact writing this bug report.

On Thu, 9 Nov 2017, 09:14 Thomas Beverley, <notifications@github.com> wrote:

--
Kind regards,
Luis Pabon

[2017-11-09 11:47] nmat commented on #459
@Thomas101 can there be a difference in the method based on if its snapped package or .deb package for handling this type of messages?

[2017-11-09 11:48] luispabon commented on #459
I'm currently using the deb package.

[2017-11-09 14:39] TheWithz commented on #453
Just started the log, It is populating the text file correctly. Now to wait!

[2017-11-09 15:28] Jan-Jan commented on #444
It happened with the snap package.

I changed to Manjaro, and it works like a charm now. Thank you.

[2017-11-09 15:30] luispabon commented on #444
@Thomas101 snap.

I don't think this issue should be closed though, it seems as though it is a real issue on the snap package.

[2017-11-09 15:52] GollyJer commented on #460
I have a Google Inbox account (primary, the one from the screenshot) and a Gmail account.

[2017-11-09 20:12] eatcodeplay commented on #280
Just posting this in case anyone else is trying to get the existing `Notification` Class running in custom Weblinks. In order to be able to actually send the notification it is required to call this first:

[code]

This doesn't seem to be required for all Weblinks, but it is definitely the sureshot way to get you up and running.

[2017-11-09 20:14] eatcodeplay commented on #327
Just posting this in case anyone else is trying to get the existing `Notification` Class running in custom Weblinks. In order to be able to actually send the notification it is required to call this first:

[code]

This doesn't seem to be required for all Weblinks, but it is definitely the sureshot way to get you up and running ( sorry for double posting ).

[2017-11-09 22:39] TheWithz commented on #453
Came back from classes to find Wavebox has crashed again, here is the `big.txt`
[big.txt](https://github.com/wavebox/waveboxapp/files/1459434/big.txt)
 file

[2017-11-10 03:20] TheWithz opened #461 "[Feature Request] Google classroom integration"
* Which version of Wavebox are you using? [e.g. 3.0.0]
3.5.1 beta
* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]
[Solus 3](https://solus-project.com/)

A friend of mine was wondering if support for Google Classroom was planned?

[2017-11-10 04:07] Pear0 commented on #461
As a high school student, my school uses Google Classroom extensively so this would be a very nice feature.

[2017-11-10 08:54] Thomas101 commented on #444
@luispabon I agree. Must be a permission issue with the packages

[2017-11-10 08:58] Thomas101 commented on #459
@luispabon if you try running the same steps again that resulted in the notification do another come up again?

In terms of the Google Sync engine there shouldn't be any difference the distribution methods

[2017-11-10 09:24] luispabon commented on #459
I've tried to replicate it again myself without luck. I'd say close this for now and I'll reopen if I find a reliable way to reproduce it?

[2017-11-10 09:39] Thomas101 commented on #453
Thanks for the log! Interestingly it looks like none of your accounts are sleeping. There's a process setup and running for each. The total memory consumption is at 8gigs which is far far away from your 64gig limit.

As regards the sleeping accounts, can you give this a try....
* Reduce the sleep timeout of one of the services (e.g. the first drive account) to be something low like 10
* Restart Wa

[2017-11-10 13:58] SchnWalter commented on #265
It would be nice to be able to use it without the API. Or at least, it would be great to have the possibility to not send the email for the first account to your API, it sent one of my work emails to wavebox and I would have never done that if I had the chance.

[2017-11-10 14:02] mathieutu commented on #265
yeah, maybe a little up on that @Thomas101 ? :)

[2017-11-10 15:12] TheWithz commented on #453
I awakened them all because I wanted to see if any applications that were previously sleeping had the same problems. I would not have done this if I had known Electron adds a soft cap on memory. I read a few Github issues and it doesn't seem to be a definite number for the soft cap, however, I found this little flag snippet that will allow a user to increase the memory electron uses. `--js-flags="

[2017-11-10 16:15] meoso opened #463 "[feature request]: adjustable time-delay of notification disappearance"
3.5.1beta
Linux 4.9.0-4-amd64 #1 SMP Debian 4.9.51-1 (2017-09-28) x86_64 GNU/Linux

Option to set time-delay of notification disappearance.  Or possibly also an option to enable requiring a click to disappear.

[2017-11-11 09:49] skyborgff commented on #454
Some gave an error:

**\src\scenes\print :**
[code]

**\src\guest :**
[code]

**\src\app :**
[code]

[2017-11-11 18:21] rhoconlinux commented on #456
I made the install with the .deb from the ppa: `=https://wavebox.io/dl/client/repo/x86_64/Wavebox_3_5_0_linux_x86_64.deb
`
Cheers!

[2017-11-11 19:58] situmam commented on #359
Hello @Thomas101 . Have you guys made any progress on the screen sharing side of things? I think there is a special extension needed

[2017-11-11 22:35] nmat commented on #454
I got it to build here using the following:

**OS:** windows 10 Creators Fall Edition (1709 (OS Build 16299.19))
**Node.js:** 8.9.1 LTS
**Python:** 2.7.14 (since python3 is not supported by node-gyp check this: https://github.com/nodejs/node-gyp/issues/193)

1. Installed node.js from website on https://nodejs.org/en/download/

2. In powershell:
`cd C:\`
`mkdir git`
`git clone https://github.com/wa

[2017-11-11 22:37] nmat commented on #454
Here is my $psversiontable also:

Name                           Value
----                           -----
PSVersion                      5.1.16299.19
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.16299.19
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion

[2017-11-11 22:48] jjegg opened #464 "Grammarly Extension Status?"
When are you going to be focusing on integrating grammarly within wavebox? Amongst the community, this is a high demand ask.

[2017-11-11 22:54] nmat commented on #412
hmmmm I still can't reproduce this. :(

[2017-11-11 23:10] nmat commented on #262
@c-lawlz I have been testing it a bit here on my macOS machine. The double tap of fn key I am not following is this something you have setup yourself?

Also tested the Right click to see if there is a spellchecking in keep and it does come up for me here. So is it the double tap of fn you want to have implemented?

[2017-11-11 23:12] nmat commented on #464
Hello @jjegg the work for grammarly is ongoing according to: https://github.com/wavebox/waveboxapp/issues/138

You can follow that thread to see status of extensions.

[2017-11-11 23:22] nmat commented on #72
Hello, You can always use the Ctrl+K keybinding instead or Ctrl+Shift+K to switch between them. I believe that slack desktop client also now uses Ctrl+K instead of Ctrl+T

[2017-11-12 00:27] nmat commented on #102
I tested to do a call recently through slack using /call. and it seems to use the wavebox browser connection now.

@BertLamb do you mean to integrate it more or can you test this in: 3.5.0?

[2017-11-12 00:59] situmam commented on #444
I just tested it with version 3.5.1 on Ubuntu 17.10 and the camera works fine.

[2017-11-12 07:56] nmat commented on #301
@MarkoBolt do you get the same effect on 3.5?

[2017-11-12 07:56] nmat commented on #300
@MarkoBolt does this happen in 3.5?

[2017-11-12 08:00] nmat commented on #131
https://github.com/wavebox/waveboxapp/issues/461

Adding the feature request in here to show classroom implementation from feature and pull request

[2017-11-12 16:00] dchersey commented on #460
Hi @Thomas101 I wanted to add that mixmax is working fairly well for me in the actual message compose window (I am using 3.5.0 on MacOS 10.12.6) but when I go to insert calendar availability (/cal) or group event availability, the dialog pops up, everything works in terms of selecting times, but the "insert times" button (which populates the email with the mixmax-extended content; i.e the point of

[2017-11-12 18:38] TheWithz opened #465 "[Contributing Guidance] displaying push notifications"
* Which version of Wavebox are you using? [e.g. 3.0.0]
3.5.1beta
* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]
[solus3](https://solus-project.com/)

In reference to Issue #131

In addition to Google classroom, I've finished Google music, Project FI, and Google Admin, in my fork. However, Google classroom and Google Music have push notifications and I wanted to

[2017-11-13 11:07] Thomas101 commented on #459
Yeah okay. As you said, just comment or re-open and we can take another look

[2017-11-13 11:07] #459 closed

[2017-11-13 11:08] Thomas101 commented on #463
This is something we could add into the enhanced notifications. I don't think libnotify has support for this at the moment

[2017-11-13 11:10] Thomas101 commented on #359
@situmam you're right, there's a hangouts extension built into chromium. We're still in the midst of expanding our extension support and there's still some API's we haven't implemented as yet. We're working through some of the requested extensions and expanding our coverage at the same time. Once we've ticked off a few more we'll be looking to add the final few that hangouts needs

[2017-11-13 11:15] Thomas101 commented on #262
Using double fn, this has started to work me. I'm wondering if one of the latest versions of electron that Wavebox is using has fixed this. Okay to close?

[2017-11-13 11:27] Thomas101 commented on #464
yes @nmat is right, we're currently working on Grammarly support, we've got about 75% of the work done so far, but there's a few rough edges that we need to resolve before we'd be happy to push this out. Really appreciate your question, we're big fans of grammarly here too!

[2017-11-13 11:37] Thomas101 commented on #460
@dchersey the root of that bug is the same as the blank window above. We've got a fix for that one due to land in the next beta. We we're hoping to ship last week but have been held up by a few technical problems

[2017-11-13 11:40] CarlosRebolledo commented on #130
Sería increíble que agregaran Redbooth ( www.redbooth.com ) que utilizo desde que nació como Teambox

[2017-11-13 12:03] nmat commented on #262
@Thomas101 can you provide example of this so I can test it when I am home to see if I can verify also?

[2017-11-13 13:32] Thomas101 commented on #262
I tried with Inbox, just click in the message compose area and then hit fn twice. You get a nice dictation box, start talking and hey presto

![scrn](https://user-images.githubusercontent.com/103586/32728108-04d783e0-c877-11e7-9c66-c052374d5904.png)

[2017-11-13 13:34] Thomas101 commented on #465
Wow that's awesome! The implementation is a little bit messy at the moment and we've got plans to make it simpler, but I'll see if can help with our current setup.

Depending on what you want to do there's a couple of ways of propagating count at the moment. Google Calendar just puts an unread indicator when a notification fires. This one is similar to do and can be pretty much just done by settin

[2017-11-13 16:02] skyborgff commented on #454
@nmat Ah, i see the problem, i'm using python 3.
What are the advantages to building instead of just installing?

[2017-11-13 17:12] nmat commented on #454
@skyborgff nice so it worked now. Well rebuilding would indicate to test some code etc I would think. Not 100% sure how that works but I believe so

[2017-11-13 18:31] Thomas101 commented on #454
You have to run the `npm run rebuild:electron` to ensure that the native dependencies are built against your os, version of electron, and node install

[2017-11-13 19:39] animalphase commented on #131
Regarding Inbox vs Gmail: (came in via this thread: https://github.com/wavebox/waveboxapp/issues/115)

I thought I would like using Inbox more if it was a standalone app… but the folder organization isn't very useable for me. So I'd like to switch over to Gmail. It would be cool to have a way to switch over without having to re-add another account, going through 2-step authentication again, etc.

[2017-11-13 19:51] animalphase opened #466 "System buttons (close/minimize/fullscreen) overlaps tabs — Mac / OSX"
* Which version of Wavebox are you using? [e.g. 3.0.0]
3.5.0

* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]
OSX 10.13

**Issue:**

With configuration options *tabs in Top Toolbar* and *icon positioning: Left Align*, the OSX system buttons overlap the account app tabs.

<img width="435" alt="screen shot 2017-11-13 at 13 40 05" src="https://user-images.githubuse

[2017-11-13 20:48] nmat commented on #262
Yes, confirmed and tested with Dictation turned on for macOS and works in both slack and gmail.

I would say that this is fixed now or invalid bug since it does seem to work.

[2017-11-13 20:52] nmat commented on #466
hmmm I do not see this on macOS or windows10 here for gmail.

Does this effect only occur for inbox? Or if there is more notification icons for inbox that I am not aware of?

[2017-11-13 20:53] nmat commented on #466
ah! replicated when hiding the sidebar. so hiding the sidebar creates this effect.....

[2017-11-14 07:38] nmat commented on #454
@Thomas101 hmmmm since there is a bit of confusion of the python 2.7 then maybe add a note in the build for windows that you should look at node-gyp to fix the deps of that?

Not 100% sure how you would want to do that but I guess there could come some more questions for it?

[2017-11-14 09:17] skyborgff commented on #454
@nmat I did't tried, I need python 3 for uni and i don't want to install 2.7, compatibility issues might occur, but thank you for solving the issue i guess :p

[2017-11-14 09:37] Thomas101 commented on #453
We've managed to replicate what we think is the same issue here now. We've got a big memory box and after two days of running it appears to be showing something similar, so we'll do some more testing on that!

I'm also looking at putting a call in to manually GC - although when we tested it only seemed to make a negligible difference

[2017-11-14 09:38] MarkoBolt commented on #300
@nmat No it seems to work not :-)

[2017-11-14 09:38] Thomas101 commented on #466
Yeah - looks like a case we didn't look into there!

[2017-11-14 09:38] #300 closed

[2017-11-14 09:38] #262 closed

[2017-11-14 09:42] Thomas101 commented on #454
I've updated the build instructions to include python 2.7, windows-build-tools and also bumped the nodejs version. Okay to close?

[2017-11-14 09:45] Thomas101 commented on #395
Some users on https://github.com/electron/electron/issues/10736#issuecomment-343746578 have reported that downloading the beta drivers from nvidia has helped them with graphics issue. We haven't been able to confirm yet, but if anyone's looking at updating anyway it would be great to know how it works for them.

The drivers can be downloaded from http://www.nvidia.com/download/driverResults.aspx/1

[2017-11-14 09:54] nmat commented on #454
@Thomas101 I would say that you can close the issue.

[2017-11-14 09:55] nmat commented on #454
I give you my blessing to close :)

[2017-11-14 10:00] nmat commented on #381
@Naatan are you still seeing this type of data in 3.5?

[2017-11-14 11:32] nmat commented on #36
going to test this and get back with result

[2017-11-14 11:57] skyborgff commented on #454
I give mine too :p

[2017-11-14 11:57] #454 closed

[2017-11-14 13:22] felipedrumond commented on #395
@Thomas101 I'm giving it a chance. Let's see what happens.

[2017-11-14 17:36] maroc81 commented on #451
I think I've hit this issue as well and am unable to purchase the pro version since it tries to open inside wavebox.  Is there a way I can do this now with the snap version?  I assume if I install the deb I have to reconfigure wavebox. Or is there another way to purchase pro outside wavebox?

[2017-11-14 17:45] yurieuri commented on #437
im also having this problem.. atm im using ubuntu 16.04 LTS and it was downloaded through the ubuntu software app.

[2017-11-14 17:46] nmat commented on #451
If you want to quickly do it. You can always install the .deb package or so. Then use that to purchase and it will reflect to the account of which you did the purchase.

For example if you use the gmail and make the purchase through that.

[2017-11-14 17:50] nmat opened #467 "wavebox.io - wrong link on page for "more reasons""
wavebox.io under the "More Reasons" topic this link is used: https://wavebox.io/whywavebox

but according to other links it should be: https://wavebox.io/why-wavebox

[2017-11-14 18:19] Naatan commented on #381
I've since switched back to Arch and away from the snap package, so there may be some correlation here; but I am no longer seeing this issue.

[2017-11-14 18:23] maroc81 commented on #451
That did the trick. I installed from deb, used my gmail to upgrade to pro from the deb then from the snap app, I switched to the account mapped to the pro version.

[2017-11-14 18:39] nmat commented on #451
@maroc81 perfect! its a workaround until the snap package updates are in place. Hopefully the new release will fix a lot of headaches regarding the opening of URLs from snap packages. :)

[2017-11-14 18:51] rmtilson commented on #435
I agree it would be nice to have more Office365 services available when an Office365 account is added. For me, the big two are OneNote and Teams (Future Skype Replacement). For me the ability to use Teams and communicate with SFoB users is a huge win on Linux, never really liked using pidgin.  I would be all for more Teams integration.

Right now native notifications and generic badge work. But I

[2017-11-15 10:01] Thomas101 commented on #437
If you try with the [deb or tar](https://wavebox.io/download) installer do you see the same issue?

[2017-11-15 10:01] Thomas101 commented on #467
Thanks! I think @rhys101 is due to release this out today :)

[2017-11-15 10:01] Thomas101 commented on #381
Okay to close?

[2017-11-15 10:02] Thomas101 commented on #451
We were hoping to get the fix out to the beta channel last week but have been held up with some technical issues. If you're still using snap we're trying our best to ship asap :)

[2017-11-15 10:04] nmat commented on #381
I would say yes.....reopen if the problem occurs again on later releases of both ubuntu, snap and wavebox

[2017-11-15 10:05] nmat commented on #467
@Thomas101 perfect! thank you! Shall I close this then maybe?

[2017-11-15 17:31] Naatan commented on #381
I'm fine with closing, I'll let you know if it happens again.

[2017-11-15 18:39] meoso commented on #463
`/usr/bin/notify-send` has the `-t, --expire-time=TIME` option, so it seems it could be manipulated somehow.

[2017-11-15 19:15] felicitywang commented on #437
Tried tar installer. Worked.

[2017-11-15 19:15] #437 closed

[2017-11-16 02:19] animalphase commented on #466
right, sorry i didn't include that with my other description! thanks

[2017-11-16 19:05] jcarroll-mediafly commented on #7
issue still present in 3.5.0

[2017-11-16 21:06] kopechcr opened #469 "Clicking on any link opens blank window in outside browser (WMail AND Wavebox)"
* Which version of Wavebox are you using? [e.g. 3.0.0]
WaveBox 3.5.1; WMail 2.3.1 Prerelease
* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]
Both are running on MacOS 10.13.1

[2017-11-17 04:58] cainadai commented on #130
Facebook Messenger
Hootsuite
Todoist
Spotify

[2017-11-17 08:32] nmat commented on #469
@kopechcr can you please check what you are using as browser inside wavebox? located in "Preferences -> Accounts -> Open New windows in which Browser"

[2017-11-17 10:42] Thomas101 commented on #467
Should be fixed now :)

[2017-11-17 11:19] nmat commented on #467
hmmm tested it in a icognito mode in chrome but still got the same error url. (could be a cache on my part also but just wanted to let you know)

[2017-11-17 11:20] nmat commented on #466
@animalphase well managed to find it so no problem. :)

[2017-11-17 11:31] Thomas101 commented on #7
@robin31 @jcarroll-mediafly it would be good to have some more info...

1. Are you seeing an unread number or just the unread activity dot?
2. If you try right clicking on the account in the left and picking `Resync` does the unread go away or stay?
3. In the slack tab if you try pressing <kbd>Shift</kbd>+<kbd>Esc</kbd> and then `Resync` does this make any difference?

[2017-11-17 11:32] Thomas101 commented on #469
This is some kind of issue with High Sierra. Can you try the steps in this [KB article](https://wavebox.io/kb/high-sierra-chrome-links), they normally seem to fix the issue

[2017-11-17 11:33] Thomas101 commented on #467
Nope you're right. Ill take a look

[2017-11-17 12:32] felipedrumond commented on #395
@Thomas101 After installing those drivers, I haven't seen any renderisation issues.

[2017-11-17 13:22] kopechcr commented on #469
I switched the browser in Wavebox to the WB browser, and that seemed to fix
that. No such luck with WMail...

On Fri, Nov 17, 2017 at 6:32 AM Thomas Beverley <notifications@github.com>
wrote:

--
-------

Sent from Inbox by Gmail

[2017-11-17 14:48] jcarroll-mediafly commented on #7
1. Just the activity dot, but annoying enough that I'm constantly switch to the application to see if I actually need to read something.
2. Sometimes it goes away. Sometimes it goes away comes back in a few seconds. Sometimes no change and the dot persists.
3. I haven't had luck with Shift+Esc. Not sure if anything should be refreshing, there is no feedback when I hit that keycombo.

I'm running o

[2017-11-17 15:55] kopechcr commented on #469
Actually Chrome was behind a version and I just relaunched it and now the KB fix is working on WMail and Wavebox.

[2017-11-17 16:06] nmat commented on #469
@kopechcr thats greate to hear!

[2017-11-17 19:47] pioneer commented on #378
Also, by some reason, that CSS taken from Userstyles, sometimes doesn't work properly.

[2017-11-17 21:36] artlogic commented on #418
I'm running into the same problem. I noticed that Electron seems to indicate that notification sounds are only supported on macOS: https://electronjs.org/docs/api/notification#new-notificationoptions-experimental

Interestingly enough, I don't see any reason this couldn't be implemented in Electron. Basically, you need to add the `sound-file` hint to your libnotify message: https://developer.gnome

[2017-11-18 01:01] nmat commented on #91
I have looked at this in 3.5.1 beta and on both windows and macOS I can see the lookup link when right clicking.

Would be good to see if someone more can confirm this?

Also saw that: https://bugs.chromium.org/p/chromium/issues/detail?id=702348 is marked as fixed now but not the electron one.

[2017-11-18 01:04] nmat commented on #37
I am using various methods of auth here with different services and all of them save the login and password. @karsyboy could you provide more information of what exactly you mean here and if there is a specific service that you have problems with regarding saving password and login?

At the moment I can't reproduce it.

[2017-11-18 02:47] EvHaus opened #470 "Huge memory spikes if notification is not dismissed"
* Which version of Wavebox are you using?: 3.5.0
* Which Operating System are you using?: Windows 10

Wavebox starts using an insane amount of RAM if a notification is not dismissed. Steps to reproduce:

- Wait for a calendar notification to come up
- Leave it undismissed for a few hours
- Check the task manager to see how much RAM is being used

Here's what happens after I come home from work and

[2017-11-18 03:27] TheWithz commented on #470
#453 @Thomas101 this could very well be the reason for my issue as well. When I'm in class, I'm not dismissing the notifications, which is why I could never reproduce it when I was working at my computer.

[2017-11-18 09:24] nmat commented on #470
interesting.....I wonder if triggering the notifications will trigger a event several times for both default and enhanced?

Could there be a difference in the methods of closing the event or something?

[2017-11-20 04:00] MichaelTunnell opened #471 "Sleeping Account Indication Not Working with Services in Top Toolbar"
* Which version of Wavebox are you using?
3.5.1beta
* Which Operating System are you using?
KDE Neon (Ubuntu 16.04 / Linux)

Sleeping Indication is not working for accounts that have the sub-Services displayed in the Top Toolbar. If you have them set in the Sidebar it works fine but when changed to the Top Toolbar the normal image/colors are displayed rather than the greyed out version.

It doesn'

[2017-11-20 09:10] Thomas101 commented on #395
@felipedrumond That's great news! There's some patches gone into electron which are supposed to help with this too - these will be shipping in the 3.5.2 beta shortly

[2017-11-20 09:11] #469 closed

[2017-11-20 09:14] Thomas101 commented on #471
Thanks, a fix for this has gone into master - should be making its way out into beta today/tomorrow :)

[2017-11-20 09:15] Thomas101 commented on #470
@TheWithz it looks like this could be the cause of what you're seeing too. I'll put a patch in for the next beta to use something other than alert. I think the blocking nature of it may be what's causing the issue.

[2017-11-20 12:05] felipedrumond commented on #395
@Thomas101 Confirming... I had no renderisation issues after updating the drivers! Thank you!

[2017-11-20 15:51] dschneiderch opened #472 "constant app badge"
* Which version of Wavebox are you using? 3.5.0

* Which Operating System are you using? macos 10.12.6

I'm seeing an app badge "2" for one of my 2 gmail accounts but there are no new unread messages. I've tried toggling "show unread count in sidebar or toolbar" and restarting but the 2 keeps coming back. I currently have "Unread & Sync" setup for "Unread Messages".  I also tried shift+esc a coupl

[2017-11-20 16:38] EvHaus commented on #470
@Thomas101 Are you aware of any known issues with Calendar notifications? I have Wavebox set to disable Calendar notifications, but they still keep popping up for one of my accounts. I'm talking about the `alert()` style notifications, not the OS-style notifications.

[2017-11-20 20:39] nmat commented on #472
Hello @dschneiderch, did you follow: https://wavebox.io/kb/google-unread-counts?

not 100% sure what you mean here.

[2017-11-21 07:16] dschneiderch commented on #472
I had not but i'm set up correctly.
Inbox type: Default
WBox: Unread in Primary Category

fyi, I am using multiple inboxes in gmail. but there still aren't any unread messages even though the badge says 2

[2017-11-21 09:23] Thomas101 commented on #470
@EvHaus if you're using the new style calendar, you turn of notifications all-together from your Google Calendar Settings. These can be found by pressing the cog in the top right of the screen. If you're not yet using the new style calendar you can switch between alert and notifications by toggling "Use Interruptive Notifications"
![scrn](https://user-images.githubusercontent.com/103586/33064389-6

[2017-11-21 09:23] Thomas101 commented on #470
Hi, we’ve just released a fix for this to the beta channel of Wavebox in version 3.5.2. If you want to give it a try there are some instructions on [how to use the beta channel here](https://wavebox.io/kb/beta-channel). Thanks

[2017-11-21 09:24] Thomas101 commented on #471
Hi, we’ve just released a fix for this to the beta channel of Wavebox in version 3.5.2. If you want to give it a try there are some instructions on [how to use the beta channel here](https://wavebox.io/kb/beta-channel). Thanks

[2017-11-21 09:25] Thomas101 commented on #453
Hi, we've released a fix for the calendar notifications in 3.5.2 which looks to be the cause of this. It would be good to know if you're still seeing the issue. If so there's some extra debugging tools we added too so we can give a few more things a try. Thanks

[2017-11-21 09:26] Thomas101 commented on #461
A big thanks to @TheWithz for contributing this! We’ve just released it to the beta channel of Wavebox in version 3.5.2. If you want to give it a try there are some instructions on [how to use the beta channel here](https://wavebox.io/kb/beta-channel). Thanks

[2017-11-21 09:26] Thomas101 commented on #460
Hi, we’ve just released a fix for this to the beta channel of Wavebox in version 3.5.2. If you want to give it a try there are some instructions on [how to use the beta channel here](https://wavebox.io/kb/beta-channel). Thanks

[2017-11-21 09:27] Thomas101 commented on #457
Hi, we’ve just released a fix for this to the beta channel of Wavebox in version 3.5.2. If you want to give it a try there are some instructions on [how to use the beta channel here](https://wavebox.io/kb/beta-channel). Thanks

[2017-11-21 09:29] Thomas101 commented on #460
@dchersey I think the calendar availability is still an issue in the current beta. I'll keep this issue open for the meantime to make sure we get that working!

@GollyJer the blank window should be fixed, I think the missing read notifications should be fixed in this one too

[2017-11-21 09:29] Thomas101 commented on #450
Hi, we’ve just released a fix for this to the beta channel of Wavebox in version 3.5.2. If you want to give it a try there are some instructions on [how to use the beta channel here](https://wavebox.io/kb/beta-channel). Thanks

[2017-11-21 09:29] Thomas101 commented on #451
Hi, we’ve just released a fix for this to the beta channel of Wavebox in version 3.5.2. If you want to give it a try there are some instructions on [how to use the beta channel here](https://wavebox.io/kb/beta-channel). Thanks

[2017-11-21 09:30] Thomas101 commented on #456
Hi, we’ve just released a fix for this to the beta channel of Wavebox in version 3.5.2. If you want to give it a try there are some instructions on [how to use the beta channel here](https://wavebox.io/kb/beta-channel). Thanks

[2017-11-21 09:30] Thomas101 commented on #395
Hi, we’ve just released a fix for this to the beta channel of Wavebox in version 3.5.2. If you want to give it a try there are some instructions on [how to use the beta channel here](https://wavebox.io/kb/beta-channel). Thanks

[2017-11-21 09:51] Thomas101 commented on #102
Looks like this works with the latest versions, going to close this off for now

[2017-11-21 09:51] #102 closed

[2017-11-21 09:52] Thomas101 commented on #204
As an update to this, the latest beta (3.5.2) no longer needs `snapd-xdg-open` installed. Links should just open as you'd expect

[2017-11-21 09:54] Thomas101 commented on #217
Goingto merge this into #269 so we can continue tracking from there

[2017-11-21 09:54] #217 closed

[2017-11-21 09:56] Thomas101 commented on #289
This was added in 3.5.*

[2017-11-21 09:56] #289 closed

[2017-11-21 09:58] Thomas101 commented on #301
I think this is fixed in 3.5.0+, if not feel free to re-comment and I'll take another look

[2017-11-21 09:58] #301 closed

[2017-11-21 09:58] luispabon commented on #451
snap, yes?

[2017-11-21 10:09] Thomas101 commented on #322
@WebShapedBiz I've just given this a try with version 62 of chrome and have noticed that the default behaviour with chrome now seems to be that the buttons are always hidden, irregardless of how it was opened. Are you seeing the same? I'm wondering if this is a design decision by Google :-/

[2017-11-21 10:10] Thomas101 commented on #362
Hi, I’m going to close this due to inactivity. If you’re still seeing the issue, feel free to re-comment and I’ll take another look. Thanks

[2017-11-21 10:10] #362 closed

[2017-11-21 10:10] Thomas101 commented on #368
Hi, I’m going to close this due to inactivity. If you’re still seeing the issue, feel free to re-comment and I’ll take another look. Thanks

[2017-11-21 10:10] #368 closed

[2017-11-21 10:11] #377 closed

[2017-11-21 10:12] Thomas101 commented on #390
@tonybyng are you still seeing this problem? Am I okay to close this off?

[2017-11-21 10:12] Thomas101 commented on #391
Hi, I’m going to close this due to inactivity. If you’re still seeing the issue, feel free to re-comment and I’ll take another look. Thanks

[2017-11-21 10:12] #391 closed

[2017-11-21 10:13] #408 closed

[2017-11-21 10:13] #411 closed

[2017-11-21 10:13] Thomas101 commented on #412
Hi, I’m going to close this due to inactivity. If you’re still seeing the issue, feel free to re-comment and I’ll take another look. Thanks

[2017-11-21 10:13] #412 closed

[2017-11-21 10:15] Thomas101 commented on #416
The latest beta (3.5.2) has some improved support for Gnome. I've tested these on 17.10 with the latest version of Gnome, would be great to hear how they work on 16.04 too!

[2017-11-21 10:16] luispabon opened #473 "New google calendar: hangouts links open in browser instead of app"
* Which version of Wavebox are you using?
3.5.1b

* Which Operating System are you using?
Ubuntu 17.10 / Unity 7

There's a new version of the Google Calendar that just activated in one of my business accounts. Hangouts links in events open in browser instead of Wavebox (which is what happens on the normal style calendar).

My default browser is Firefox where hangouts won't work, I was relying on

[2017-11-21 10:21] Thomas101 commented on #446
Hi, we’ve just released a fix for this to the beta channel of Wavebox in version 3.5.2. If you want to give it a try there are some instructions on [how to use the beta channel here](https://wavebox.io/kb/beta-channel). Thanks

[2017-11-21 10:22] Thomas101 commented on #451
Yeah. `sudo snap refresh wavebox --channel=beta` should get the latest beta, or if you're happy to wait a few more days - with no show stoppers we'll be pushing this out to stable

[2017-11-21 10:23] luispabon commented on #451
I'll test this out now :+1:

[2017-11-21 10:29] WebShapedBiz commented on #322
That's a bug, should be fixed in version 63.

[2017-11-21 10:36] Thomas101 commented on #322
Yeah, I can confirm that beta the beta. Original issue still seems to persist.

[2017-11-21 10:36] luispabon commented on #451
Works perfectly. Thank you @Thomas101 :+1:

[2017-11-21 10:47] tonybyng commented on #390
Hi. I'm fine. Not happening to me anymore. I kept it open because of others having the problem but I'm good ta. So I'll close

[2017-11-21 10:47] #390 closed

[2017-11-21 10:55] #465 closed

[2017-11-21 11:27] Thomas101 commented on #421
Could you try adding `https://www.w3schools.com/html/html5_draganddrop.asp` as a weblink account type? At the top there's two boxes, one with an image. Can you try dragging the image from one to the other to see if that works?

![untitled](https://user-images.githubusercontent.com/103586/33070135-e16c0faa-ceae-11e7-8e73-d121ff7a4dec.png)

[2017-11-21 11:30] Thomas101 commented on #441
I've had a look into this. The Chromium pdf renderer that we use doesn't have support for this at the moment. There was some talk of adding it to the renderer on the Google Product Forum, but that was way back in 2014.

I did see that pdfjs from Mozilla supports this out of the box and we were looking at adding this as the defacto PDF renderer when we started extension support, but we need to impr

[2017-11-21 11:31] kofm opened #474 "Can't install new spell-checker languages"
* Which version of Wavebox are you using? [e.g. 3.0.0]

3.5.0.

* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]

OS X 10.12

Hi,
i'm trying to install new spell-checker languages but with no success. Installation seems to have success but then no new dictionaries show up in the menu.

I've tried disabling and re-enabling the feature and restarting, but nothing w

[2017-11-21 11:38] Thomas101 commented on #7
@jcarroll-mediafly can you try the following...

Go to View > Developer > Wavebox Developer Tools. You'll get a window appear. Can you click on the console tab and then paste... `window.waveboxDebug.flags.slackLogUnreadCounts = true`.
![screen shot 2017-11-21 at 11 34 30](https://user-images.githubusercontent.com/103586/33070465-fba61cde-ceaf-11e7-8c7d-d7815516240d.png)

Next, right click on one o

[2017-11-21 11:39] Thomas101 commented on #467
Second time lucky :)

[2017-11-21 11:39] #467 closed

[2017-11-21 11:39] nmat commented on #441
sounds good. Otherwise I wonder if wavebox can read the apps from the current running machine to have a "open in" (foxit or acrobat)?

Would that be some sort of workaround or something different?

[2017-11-21 11:40] Thomas101 commented on #474
Hi, which dictionary are you trying to install? It could be an incorrect link for one of the dictionaries

[2017-11-21 11:41] Thomas101 commented on #441
That is something we could look into aswell. At the moment it's a bit of a chore to download and open each time

[2017-11-21 11:55] nmat commented on #467
confirmed as fixed! :) thanks

[2017-11-21 12:13] dschneiderch commented on #472
there are no unread messages when I perform that search

[2017-11-21 12:31] kofm commented on #474
I'm trying with Italian dictionary. I also tried Afrikaans (to check if the problem was related to Italian only) also with no success.

[2017-11-21 13:48] nmat commented on #324
Does this effect still occur? there has been some work on the browser part AFAIK so wondering if the problem is still active and occurring on 3.5 +

[2017-11-21 14:42] jcarroll-mediafly commented on #7
Next time I see it I'll try those steps. As luck would have it, its behaving better atm

[2017-11-21 16:23] dchersey commented on #460
That is correct @Thomas101, the insert times button still does not do anything.  I can do everything else on that popup except complete the process :(

Thanks for your help & let me know when you want me to test it again.

[2017-11-21 17:11] amig commented on #416
I've installed the beta (3.5.2) on my Ubuntu 16.04 with GNOME shell. It looks ok but I cannot see any differences. What should I look for?

[2017-11-21 17:40] andrew-nguyen commented on #421
@Thomas101 Don't know if it's related but it immediately hung after I tried adding the above weblink.  Also, force-quitting and then reopening wavebox results in the following:
![image](https://user-images.githubusercontent.com/901859/33087625-fe19a95a-ce9f-11e7-86ea-86d377372d03.png)

Is there a way to remove an account from outside the app?

[2017-11-21 17:59] MichaelTunnell commented on #471
Tested the fix with 3.5.2 beta, works great again. Thanks! :)

 . . . closing issue. :)

[2017-11-21 17:59] #471 closed

[2017-11-21 19:59] nmat commented on #446
Tested on 17.10 and the icon is there from the snap package beta release.

[2017-11-21 20:00] nmat commented on #451
Verified here also using release in beta channel.

[2017-11-21 20:07] nmat commented on #474
Tried to reproduce this on:
3.5.2beta

on macOS 10.13.1, windows 10 and snap linux package but do not seem to be able to reproduce this. I get the wizard to install and the dropdown to select. Unfortunately I do not have a 10.12 macOS machine to test on.

[2017-11-21 20:12] nmat opened #475 "Optimization wizard - not starting on snap package"
* Which version of Wavebox are you using? [e.g. 3.0.0]
3.5.2beta

* Which Operating System are you using?
Ubuntu 17.10

* Description:
Newly introduced optimization wizard does not start on snap package beta channel. Force ran it from settings and that worked just fine. Should the wizard start on first launch after the upgrade?

[2017-11-21 20:22] nmat opened #476 "New support icons not showing on windows 10"
* Which version of Wavebox are you using?
3.5.2beta

* Which Operating System are you using?
Windows 10

* Description:
The new icons for KB, Blog, GitHub and Email Support is not showing on windows 10 release. On macOS 10.13.1 they are working fine and on Linux snap package.

[2017-11-22 07:25] amig commented on #416
I noticed that the alert pop-up of the Google calendar changed and it is missing the OK button and text is selected (see image).

I hope this is due to work on having Google calendar use standard OS notifications instead on the current behavior.

![screenshot from 2017-11-22 09-16-35](https://user-images.githubusercontent.com/203434/33114763-fa66958a-cf66-11e7-9d30-ed37f5a6a74b.png)

[2017-11-22 07:39] nmat commented on #450
hmmm I just tested this. So here is the setup:

office365 - first main service - has calendar, onedrive and contacts
teams - (using weblink) - main service 2

If I go to office365 and want to change with Ctrl+Shift+2 it jumps to teams tab. That is the same as hitting Ctrl+2

If I hit Ctrl+Shift+3 then it jumps to the next major service right after that one and so on.

If I am in the gsuite then th

[2017-11-22 07:42] nmat commented on #476
Tested on second windows 10 machine and the same effect with no new icons. So this seems to origin to windows 10 system

[2017-11-22 08:16] kofm commented on #474
Should i try 3.5.2?

[2017-11-22 08:52] Thomas101 commented on #475
There's two checks that it does before starting automatically
1. You have more than one account added
2. You're on Pro or Trial

If you don't satisfy those two, it shouldn't come up. However if you add more than one account and restart the app it should come up second time

[2017-11-22 08:54] nmat commented on #475
Ah that makes sense. Will test it when I get home then.

Its actually the only place where I only have one account/service connected so yes. That does in fact make a difference and does not meet the requirement.

[2017-11-22 09:02] Thomas101 commented on #472
We have seen a sporadic bug with Google Sync that leaves a couple of unread messages marked as so. If you try re-adding the account does that still sit at two?

[2017-11-22 09:03] Thomas101 commented on #324
I gave this a test with 3.5.2 just after release yesterday and was still seeing it. I'm almost thinking it's a pre-cache or pre-load optimization that Chrome has and Chromium doesn't, although I haven't been able to find any reference to this to back up my thoughts yet...

[2017-11-22 09:05] Thomas101 commented on #7
Okay, well I'll close this off again then, but just recomment if it comes back up. It could be something with Slack API, they've been having a few problems lately - their system status page is full of issues from the last few weeks

[2017-11-22 09:05] #7 closed

[2017-11-22 09:05] Thomas101 commented on #421
Oh wow, that shouldn't have happend! Which version of Wavebox are you using?

[2017-11-22 09:44] dschneiderch commented on #472
re-adding the accounts did the trick.

I also learned that toggling the Sidebar Badge to show unread count from all services was causing the badge to be hidden on my other gmail account. This seems to be misleading. I don't have any other services since I'm on the free version but if I did I wouldn't want these services to be included in the badge count. in my opinion, the description does not imp

[2017-11-22 10:32] Thomas101 commented on #476
Awesome thanks! We missed that one in testing

[2017-11-22 10:36] robin31 commented on #7
Hi @Thomas101 ,

I've done the steps with the `window.waveboxDebug.flags.slackLogUnreadCounts = true`

I got this in my console:
[code]

After seeing the error I removed the slack account and added it again. Now its working like intended again.

[2017-11-22 10:39] Thomas101 commented on #450
What do you have setup under Settings > Advanced > Keyboard Accelerators > Service at Index?

[2017-11-22 10:45] nmat commented on #476
I was afraid I had some crazy cache issue. I can test the git build later on then. :)

[2017-11-22 10:48] Thomas101 commented on #474
There's not really been any change between 3.5.0 and 3.5.2 as regards the spellchecking, but feel free to try it.

Do you know if you're behing a proxy server of any kind? It sounds like the downloads maybe failing, but I'm not 100% sure.

If you want to try installing them manually there's a few steps to do...
1. Open `~/Library/Application Support/wavebox/` (e.g. `/Users/tom/Library/Application

[2017-11-22 10:51] Thomas101 commented on #7
@robin31  It could be that slack rotated tokens for some reason. I'll look to see why wavebox didn't report it as an authentication issue though!

[2017-11-22 10:53] nmat commented on #450
Do you mean in office365 or in wavebox? I can't find a setting for that in office365 maybe because I am not admin?

[2017-11-22 11:30] kofm commented on #474
Installing manually resolved the problem! Thanks!!
I'll try downloading it when under another Internet connection, to see if it's a connection problem.

[2017-11-22 11:31] Thomas101 commented on #450
Sorry, in Wavebox

[2017-11-22 11:31] Thomas101 commented on #474
Thanks! It would be great to know if that is the underlying issue

[2017-11-22 12:02] nmat commented on #450
@Thomas101 thank you. Here is the bindings.

Service at Index - Ctrl+Shift+Number
Account at Index - CmdOrCtrl+Number

[2017-11-22 12:08] Thomas101 commented on #472
Yep, I agree. Removed some options and also patched an edge case that can result in an extra unread count. Thanks!

[2017-11-22 13:37] Thomas101 commented on #416
Oooh yeah I've come up against that now. I'll make sure the okay option gets added in the next release.

It looks like the upstream fixes for Gnome (the ones that re-add the tray icon etc) are only compatible with 17.10+. I'll look into what we can do for Gnome on Ubuntu 16.*

[2017-11-22 14:23] Thomas101 commented on #450
Ah yeah, I only had one account added which is why I wasn't seeing the behaviour. It looks like there is some kind of conflict in electron with this meaning that ctrl+shift+N is overwritten by ctrl+N.

In terms of other options, the only other thing I can think of is Ctrl+F1, F2 etc... but I'm hesitant to start using the F-keys for compatability reasons.

We're keen to get this next release out as

[2017-11-22 14:28] nmat commented on #450
Yeah I agree. It is in fact also better for consistency to use the same kind of binding on all of the services with underlying indexed services. Unfortunately I do not have any good idea here either.

[2017-11-22 14:30] dschneiderch commented on #472
Thanks for your help!

[2017-11-22 14:30] #472 closed

[2017-11-22 14:42] nmat opened #477 "Switching window focus to previous browser window does not focus content"
* Which version of Wavebox are you using?
3.5.2beta

* Which Operating System are you using?
Windows 10
Chrome

* Description:
Open a file in a new window (pdf for example) from google drive. (so it opens in a new wavebox browser window).
Switch to main wavebox window and for example switch to a different account
Go back to the previous opened pdf window using Alt+Tab
Try using the arrow keys to s

[2017-11-22 15:09] jcarroll-mediafly commented on #7
Ya, I tried your steps and each time I resync the out put of the logs says everything is read. Sometimes the dot will come back, and I can see there are no new unread channels. I have slack app and web browser up to confirm, nothing showing up there so no new messages truly. So I'll hit resync again and get same results, nothing marked as unread. Dot may or may not come back.

I dunno. I've been p

[2017-11-22 16:52] nmat commented on #476
tested in git latest build. Closing. Thank you @Thomas101

[2017-11-22 16:52] #476 closed

[2017-11-22 17:12] nmat commented on #475
tried to reproduce but since I have done the wizard already then I guess it will not ask me again. So can't reproduce it. I will close it for now.

[2017-11-22 17:12] #475 closed

[2017-11-22 17:15] nmat commented on #475
tried to reproduce but since I have done the wizard already then I guess it will not ask me again. So can't reproduce it. I will close it for now.

[2017-11-22 17:37] nmat commented on #477
On another note. I noticed the same effect from choosing the window from the taskbar.

[2017-11-22 17:41] victorbrca commented on #130
imap

[2017-11-23 06:52] nmat opened #478 "Copy url from wavebox external window copies other items also"
* Which version of Wavebox are you using?
3.5.2beta

* Which Operating System are you using?
Windows 10

* Description:
Copy the url with double click will copy other items also. (tested on both onedrive and google drive urls)

* Steps to reproduce:

1. Go to google drive
2. Open a item (pdf for example)
3. Select "Open in new window" in the three dotted top right menu
4. Double click the top URL

[2017-11-23 08:33] amig commented on #416
Waiting for it

[2017-11-23 09:24] Thomas101 commented on #470
Hi, this has just been released in the latest version of Wavebox. You can get the update by using the Application/File menu and clicking `Check for Update` or by downloading the latest version from our [download page](https://wavebox.io/download). Thanks!

[2017-11-23 09:24] #470 closed

[2017-11-23 09:24] Thomas101 commented on #453
Hi, this has just been released in the latest version of Wavebox. You can get the update by using the Application/File menu and clicking `Check for Update` or by downloading the latest version from our [download page](https://wavebox.io/download). Thanks!

[2017-11-23 09:24] #453 closed

[2017-11-23 09:24] Thomas101 commented on #461
Hi, this has just been released in the latest version of Wavebox. You can get the update by using the Application/File menu and clicking `Check for Update` or by downloading the latest version from our [download page](https://wavebox.io/download). Thanks!

[2017-11-23 09:24] #461 closed

[2017-11-23 09:24] Thomas101 commented on #457
Hi, this has just been released in the latest version of Wavebox. You can get the update by using the Application/File menu and clicking `Check for Update` or by downloading the latest version from our [download page](https://wavebox.io/download). Thanks!

[2017-11-23 09:24] #457 closed

[2017-11-23 09:25] Thomas101 commented on #451
Hi, this has just been released in the latest version of Wavebox. You can get the update by using the Application/File menu and clicking `Check for Update` or by downloading the latest version from our [download page](https://wavebox.io/download). Thanks!

[2017-11-23 09:25] #451 closed

[2017-11-23 09:25] Thomas101 commented on #456
Hi, this has just been released in the latest version of Wavebox. You can get the update by using the Application/File menu and clicking `Check for Update` or by downloading the latest version from our [download page](https://wavebox.io/download). Thanks!

[2017-11-23 09:25] #456 closed

[2017-11-23 09:25] Thomas101 commented on #446
Hi, this has just been released in the latest version of Wavebox. You can get the update by using the Application/File menu and clicking `Check for Update` or by downloading the latest version from our [download page](https://wavebox.io/download). Thanks!

[2017-11-23 09:25] #446 closed

[2017-11-23 09:25] Thomas101 commented on #395
Hi, this has just been released in the latest version of Wavebox. You can get the update by using the Application/File menu and clicking `Check for Update` or by downloading the latest version from our [download page](https://wavebox.io/download). Thanks!

[2017-11-23 09:25] #395 closed

[2017-11-23 09:27] Thomas101 commented on #7
@jcarroll-mediafly we've just released a new update 3.6.0, would you be able to give it a try with this? If you don't see the dot clearing could you try re-adding your slack account to see if that makes a difference? Thanks

[2017-11-23 09:28] Thomas101 commented on #477
I think this is a bug. I've got some work I want to do on the content window in the next milestone, so I'll make sure this is working too

[2017-11-23 09:29] Thomas101 commented on #478
Thanks, I'll take a look!

[2017-11-23 11:00] dzg opened #479 "Custom icons look fuzzy"
* Which version of Wavebox are you using? [e.g. 3.0.0]
3.6.1

* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]
OSX 10.12.6

I've tried custom icons of different sizes, formats, etc., but no matter what they look fuzzy.
How do I properly create a custom icon for a service that will render 1:1?

E.g.,
This:
![849448_social_512x512](https://user-images.githubusercon

[2017-11-23 11:59] Thomas101 commented on #464
![grammarly](https://user-images.githubusercontent.com/103586/33171828-b0f0f3e8-d045-11e7-8b13-9848b346d7ac.png)

[2017-11-23 16:11] WebShapedBiz opened #480 "Start minimized doesn't work."
* Which version of Wavebox are you using? [e.g. 3.0.0]
Version 3.6.0.
* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]
ElementaryOS 0.4.1. Loki

Option "Always Start Minimized" enabled in setup but the app doesn't listen.
Previously never an issue.

[2017-11-23 22:14] eatcodeplay commented on #138
Would like to see [Trello Night](https://chrome.google.com/webstore/detail/trello-night/mfifmoklnkpndjjcalemaggldbicmkki?hl=en) added.

[2017-11-24 11:34] nmat commented on #474
@kofm did you manage to test this a bit more? would be interesting to see the result. :)

[2017-11-24 11:37] nmat commented on #72
If I am not wrong this one could be marked as fixed right?

Since the keybinding that does work now are:
Ctrl+K - Quick switch channel/conversation
Ctrl+F - Go to search in slack (3.6 here at least this works in)

[2017-11-24 15:22] jcarroll-mediafly commented on #7
cool, will update!

[2017-11-24 16:01] nmat commented on #480
Verified on macOS also.

Even though it is said to use "Always start minimized" the application does start with window showing.

[2017-11-24 16:09] nmat opened #481 "Disable tooltip for topbar services?"
* Which version of Wavebox are you using?
3.6.1

* Which Operating System are you using?
macOS 10.13.2, windows 10

* Description:
Tooltip is hidden for sidebar only. But what about the top service bar?

Maybe the disable tooltip could have a dropdown that says something like:
Show all tooltip
Hide all tooltip
Enable for Topbar only
Enable for Sidebar only

Or something like that?

I have seen the

[2017-11-24 16:25] dzg commented on #138
So ... currently it's not possible to add Gmail Dropbox integration within Wavebox?

[2017-11-24 17:42] nmat commented on #36
Here is the github desktop app layout also which is interesting:

![image](https://user-images.githubusercontent.com/383031/33220288-44c9b670-d147-11e7-9f9a-af70ff004467.png)

[2017-11-25 09:17] kofm commented on #474
You were right! Using my home internet connection, the French dictionary successfully downloaded. It seems that Wavebox behaves as if the download is fine even if it can't download anything.

Thanks for the support 👍

[2017-11-25 09:32] nmat commented on #474
So the main issue is that spellchecker goes through without it warning that there is no real network connection. Or you had connection but just couldn't download the dictionary?

Trying to see if there might be a possibility that spellchecker download just continues without checking if connection works or not. 🤔

[2017-11-25 09:46] kofm commented on #474
I **had** connection but couldn't download the dictionary.

Maybe a little warning if the download fails?

[2017-11-25 09:50] nmat commented on #474
The dictionary was not in the directory after the "download" was done correct? In that case I would say yes. A test to see if it can be downloaded + if it has been downloaded should be done. It would ease the use of understanding if something fails.

[2017-11-25 14:21] dzg opened #482 "[Request] Remember last selected service when switching accounts"
I would like the option to have Wavebox remember which service 'tab' I was in when switching back to an account.

For example, if I am in Google Calendar (Service #2) of Account 1, then switch to my WhatsApp account, then go back to Account 1, it always takes me back to Gmail (Service #1). I would rather it remember that I was in Calendar.

[2017-11-25 14:28] kofm commented on #474
Neither the dictionary files nor the directory were present after a successful download.
Maybe the issue is related to Wavebox not creating the directory? I manually created it to copy dictionary files. How can i test?
Can i safely delete directory?

[2017-11-25 15:44] nmat commented on #482
Hello @dzg,

I believe this is reported in:
https://github.com/wavebox/waveboxapp/issues/350
and
https://github.com/wavebox/waveboxapp/issues/85

Does those pretty much cover what it is that you where requesting?

[2017-11-25 16:56] dzg commented on #482
Hi @nmat

I read those, and, no, not really what I mean. I don't really care about going to Inbox, or about the default service.

Let's say I have a Google Doc open in my first Account ... this is in the 2nd 'tab' or Service for Account 1.

I am copying/pasting info between that window, and my 5th Account, which is WhatsApp. I am wanting to quickly switch back and forth between these 2 tabs: **Acc

[2017-11-25 20:50] pestucky commented on #228
I am using Ubuntu 17.10.  I have Wavebox starting on boot using Ubuntu's Startup Application.  But I would like it to start minimized and not splash the screen.  The above command on June12 didn't work.  I don't see where to find the Wavebox version, but I just installed it today.  Thanks for your help

[2017-11-25 23:49] nmat commented on #482
Yeah that makes sense. Like "Remember last used place"....I just think I have heard about it before here but do not know exactly which ticket. Just very familiar to me. And yes you are right. I think the state should be saved if you select an option to use last used service/service index.

[2017-11-26 09:26] thanosgatos opened #483 "Gmelius scheduling issues"
* Which version of Wavebox are you using? [e.g. 3.0.0]
3.6.0

* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]
Ubuntu 16.04 LTS

I have noticed the following two issues when using Gmelius in Inbox by Gmail inside Wavebox:

1. When replying to an email and you schedule your answer to be sent later, your answer goes to Drafts, but it is NOT scheduled.
2. Once you m

[2017-11-26 11:19] pestucky commented on #228
Wavebox has a setting to always start interface minimized, but it didn't work for me.

I resolved the matter using
  askubuntu.com/questions/663187/how-can-i-run-a-program-on-startup-minimized

Thank you

[2017-11-26 15:40] dzg opened #484 "[Request] Easier re-ordering of services"
The "move up/down" one-at-a-time function is very cumbersome.

If I add a new account, and it's down at the end as the 9th service, it seems I have to right-click and "move up" **8 times** if I want it to become #2.

I wish I could just drag services around, either in the sidebar or within the prefs.

Ideally I'd like to be able to just Cmd-drag the icons in the sidebar.

[2017-11-26 15:41] dzg commented on #479
Any way to address this? My sidebar is super fugly.

[2017-11-27 05:42] thanosgatos commented on #483
I have just realized that:

1. New emails sent from Inbox are not tracked
2. Not all messages that are tracked in Inbox, outside of Wavebox, are tracked either

[2017-11-27 08:08] nmat commented on #484
hello @dzg,

There has been a report about this already in: https://github.com/wavebox/waveboxapp/issues/415

[2017-11-27 09:05] Tahini-123 opened #485 "Feature request: ability to move sidebar to top/bottom/right edge"
* Which version of Wavebox are you using? [3.6.1-beta]

* Which Operating System are you using? [Mac OSX 10.12.6, Ubuntu 17.10]

I would like the possibility to move the sidebar to another location, e.g. top or bottom of the window.
Where it is now it collides with my desktop docks in both my Mac and my Linux PC, as they rest on the left edge of the screen.

If this is already possible, apologies,

[2017-11-27 09:12] rhuss opened #486 "Autocomplete on email adresses does not work for Inbox"
* Which version of Wavebox are you using?

3.6.1 beta

* Which Operating System are you using?

macOS Sierra 10.12.5

------------------

Since several versions (stable, beta), I have the issue that with one of my two GMail accounts using Inbox, the autocompletion on email addresses when composing a new message fails. It's for my company account (which is also served via GMail), the regular gmail

[2017-11-27 09:14] rhuss commented on #138
I vote for Grammarly as my top most required extension.

[2017-11-27 10:10] marcgeurts commented on #130
Exchange

[2017-11-27 10:11] Tahini-123 opened #487 "Play Music service plays a notification sound whenever a new track starts playing"
* Which version of Wavebox are you using? [e.g. 3.6.1-beta]

* Which Operating System are you using? [Mac OSX 10.12.6]

I noticed that Play Music is supported. Great! However Wavebox sends notifications with each track change. I like the bubble notification but the bell sound that comes with it is a serious joykiller, it totally ruins the mood of the music.

Please add an option to silent it.

[2017-11-27 10:14] Tahini-123 commented on #487
To be clearer, I need to preserve the notification sounds on everything else (mail, etc).  I just need them to be disabled on Play Music.

[2017-11-27 11:18] Thomas101 commented on #72
<kbd>Ctrl</kbd>+<kbd>F</kbd> got fixed again in 3.6 (this was broken at some point by slack changes).

I'm seeing <kbd>Cmd</kbd>+<kbd>K</kbd> and <kbd>Ctrl</kbd>+<kbd>K</kbd> working now which is consistent with the Slack browser experience - however <kbd>Ctrl/Cmd</kbd>+<kbd>T</kbd> is still present in the app

[2017-11-27 11:22] nmat commented on #72
But then, should slack connection use the webexperience or the desktop experience?

Because then you would have to overwrite the Ctrl+T right inside slack connection window if I am not wrong?

[2017-11-27 11:24] Thomas101 commented on #480
Thanks for reporting!

[2017-11-27 11:25] Thomas101 commented on #481
I think this could make it in!

[2017-11-27 11:32] Thomas101 commented on #474
You can delete or move `user_dictionaries` without any problem. Just make sure Wavebox is closed before you do this otherwise you may see unintended side-effects.

Next time you try downloading there might be some extra info in the console. If you go to `View`>`Developer`>`Wavebox Developer Tools` you'll get a window popup. Click on the console tab and you should see something similar to below...

[2017-11-27 11:33] Thomas101 commented on #482
I think this is something we can look to add in. It would certainly make switching a lot easier

[2017-11-27 11:35] Thomas101 commented on #228
@pestucky there's a bug with 3.6.0 which means the `--minimized` flag isn't respected. There's a fix for this waiting to go out shortly... https://github.com/wavebox/waveboxapp/issues/480

[2017-11-27 11:41] Thomas101 commented on #479
@dzg it looks like a rendering glitch. There's a bit more info that might be helpful for me to reproduce and also some steps you could try...

* What type of mac do you have? Does it have a retina display?
* If you reduce the size of the Wavebox window so it hides the icon and then drag it larger again so it's revealed does it render with a smooth circle again?
* Do you have "Show Account Color ar

[2017-11-27 11:44] Thomas101 commented on #485
There is some talk about adding move left/right, but haven't added anything in as yet.

[2017-11-27 11:47] Thomas101 commented on #486
Hi, thanks for reporting. There's a few things that might help us to reproduce this...

* It sounds like you've probably tried this, but does restarting Wavebox make any difference?
* Do you have any extensions enabled in Wavebox?
* Is this with Gmail or Google Inbox? (you mentioned both above, but I assumed Gmail)

Thanks

[2017-11-27 11:48] Thomas101 commented on #72
The desktop version supports both `K` and `T` so I think we can do that. They probably disalbed `T` in the browser as this is normally the shortcut for new tab

[2017-11-27 11:49] Thomas101 commented on #487
I can imagine this would get old quick. I'll put a fix in for it!

[2017-11-27 11:53] nmat commented on #72
agreed. If that is the case then of course. Since wavebox does not use Ctrl+T for anything else in general right now. 👍

[2017-11-27 12:02] Thomas101 commented on #483
Thanks for reporting. I gave the scheduled a try, but that came up right away for me. As for the tracking ticks these didn't come up right away for me in Wavebox, but did after a little while. I wonder if Gmelius have been having issues their end.

If you try testing these again do you still see the same behaviour or something different?

[2017-11-27 12:33] dzg commented on #479
- What type of mac do you have? Does it have a retina display?

It's a Hackintosh with a 4K display, so I can use both HiDPI and non-HiDPI resolutions.
Both look crappy.

- If you reduce the size of the Wavebox window so it hides the icon and then drag it larger again so it's revealed does it render with a smooth circle again?

No effect.

- Do you have "Show Account Color around Icon" enabled or

[2017-11-27 12:52] rhuss commented on #486
@Thomas101 thanks for the quick response:

* Yes, I have this issues already since some weeks and the autocompletion fails reproducibly
* I have no extensions installed
* I'm using Google Inbox (see also issue title but I could have been more specific ;-)

[2017-11-27 13:01] Thomas101 commented on #486
Awesome thanks for the info, sorry, missed the title!

If you try re-adding the account or adding the account as a duplicate do you see any difference with that, or is it just the same? I've had contacts working on both personal and business accounts for some time, so wonder if some kind of caching/localstorage/cookie etc is to blame.

[2017-11-27 13:14] rhuss commented on #486
Ok, let me try.

I have to mention that I have to use "Artifically Persist Cookies" option to come over our internal SSO for our business gmal account.

Also probably worth mentioning is that it used to work with this setup ;-)

[2017-11-27 13:19] rhuss commented on #486
Ah, re-adding the account helped, also after a restart with cookies to persists

Thanks a lot, I'm going to delete the old account as I can live with solution. I would reopen the issue if the error comes back ;-)

[2017-11-27 13:19] #486 closed

[2017-11-27 14:13] kofm commented on #474
![image](https://user-images.githubusercontent.com/12545394/33270784-7d380dbe-d385-11e7-9961-2a49818486b4.png)

[2017-11-27 17:51] thanosgatos commented on #483
I am trying things again, in Wavebox:

1. Composing a new email, scheduling it to go in 1 h.
![image](https://user-images.githubusercontent.com/8896776/33280224-0aeb9ac6-d3aa-11e7-9f35-3bc88529c3aa.png)

2. After NOT getting the notification about the email being scheduled, checking my drafts:
![image](https://user-images.githubusercontent.com/8896776/33280273-2f6988ae-d3aa-11e7-8a14-00d2053fe90f.

[2017-11-27 19:00] alexzneff opened #488 "Lastpass Support"
* Which version of Wavebox are you using? [e.g. 3.0.0]
3.6.0
* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]
Windows 10

I have not been able to get the Lastpass desktop application to work with Wavebox. Is support of Lastpass in Wavebox something in the works?

[2017-11-27 19:40] TheWithz commented on #488
#138

[2017-11-27 20:41] dzg commented on #479
Here is what it looks like with SVGs from that website...

[image: Inline image 1]

[2017-11-27 21:04] TheWithz commented on #479
Running my own test, I found this.
![test](https://user-images.githubusercontent.com/8269545/33289121-86f49c58-d38c-11e7-8bf8-3ce83884ec18.png) the two penguins are the same image. One pulled automatically from my google account and one custom like @dzg did it, through account settings.

[2017-11-27 21:17] dzg commented on #479
Here is the SVG from that site, scaled to 48x48:
![artboard 1](https://user-images.githubusercontent.com/466557/33289601-625b39d6-d3c0-11e7-9322-c91e738b9886.png)

And here it is in Wavebox:
![image](https://user-images.githubusercontent.com/466557/33289505-1c6682c8-d3c0-11e7-9afb-081e4f83d989.png)

There's definitely some weird blurring happening.

[2017-11-27 21:32] nmat opened #489 "Windows 10 - wavebox crash need verification - while getting notification"
* Which version of Wavebox are you using?
3.6.1beta

* Which Operating System are you using?
Windows 10 Fall creators edition

* Description:
Crash after notification using external link.

* Reproduce:
1. Have gmail, slack, etc but then also have facebook messenger as a weblink
2. Go to the gmail service and keep it in focus
3. Click Ctrl+§ to show the main menu
4. Keep Window menu item open
5. Re

[2017-11-28 12:50] Thomas101 commented on #479
It's not the icon itself, but the css effect that generates the rounded circle. That's what's giving the weird haze. This did crop up quite a few versions but fixed itself when chromium updated. I'll take another look to see if I can tidy it up a bit

[2017-11-28 12:51] Thomas101 commented on #474
Nice spot! Can you give it another try?

[2017-11-28 13:05] dzg commented on #479
Are you referring to the jagged circular edge, or the icon inside the
circle which is also fuzzy?
(I wish I could 'inspect' the actual wavebox UI contents!)

[2017-11-28 13:20] Thomas101 commented on #479
Mainly the jagged edge.

As for the image quality, it could be the poor-ish scaling quality that canvas gives. If you try with a 150px icon is that any better? That shouldn't get scaled at-all.

If you want to inspect the elements, go to View > Developer > Wavebox Developer Tools. You can grab the elements panel from there. Unfortunately we haven't added inspect element though

[2017-11-28 13:22] Thomas101 commented on #489
I've just given a try here, but with no success. Do you click on the messenger notification or does it happen when it launches?

[2017-11-28 13:22] kofm commented on #474
Works now! I managed to successfully download Afrikaans dictionary 👍
No error messages in Wavebox Developer Tools console

[2017-11-28 13:25] Thomas101 commented on #474
Awesome! Great to hear you got it working :)

[2017-11-28 13:25] #474 closed

[2017-11-28 13:35] nmat commented on #489
Once the notification comes up and the menu is active the crash occurs.

I am using basic notification also if that might make a difference?

[2017-11-28 13:46] dzg commented on #479
​Aha! Now I see the problem.

[image: Inline image 1]

The icons are being scaled to 150x150 (the 'natural' size) regardless of
what I 'uploaded'; wavebox is rescaling to 150x150.

But the displayed size is, as you said, 42x42 -- which is NOT a factor of
150. If you tweak it to, say, 75x75 (which is 1/2 of 150) then it looks
sharp.

If you want it to look crisp at 42x42, then Wavebox needs to scal

[2017-11-28 13:50] dzg commented on #479
Is it possible to 'inject' CSS or JS into the Wavebox app?

[2017-11-28 13:58] dzg commented on #479
​Aha! Now I see the problem.

![image](https://user-images.githubusercontent.com/466557/33322987-60f3adb8-d44b-11e7-994b-e458172c84b4.png)

The icons are being scaled to 150x150 (the 'natural' size) regardless of
what I 'uploaded'; wavebox is rescaling to 150x150.

But the displayed size is, as you said, 42x42 -- which is NOT a factor of
150. If you tweak it to, say, 75x75 (which is 1/2 of 150) th

[2017-11-28 14:04] dzg commented on #479
My guess is this line is the problem:

https://github.com/wavebox/waveboxapp/blob/07170ebab2eefed9989ab0894a0cd222064075c4/src/scenes/mailboxes/src/Scenes/SettingsScene/Accounts/AccountAppearanceSettings.js#L74
[code]

[2017-11-28 14:07] dzg commented on #479
My guess is this line is the problem:

https://github.com/wavebox/waveboxapp/blob/07170ebab2eefed9989ab0894a0cd222064075c4/src/scenes/mailboxes/src/Scenes/SettingsScene/Accounts/AccountAppearanceSettings.js#L74

[2017-11-28 14:17] dzg commented on #479
Note, you've got the same issue for the service icons:

![image](https://user-images.githubusercontent.com/466557/33324124-f8af09ce-d44e-11e7-8d18-ca1a11ad1604.png)

You're squeezing icons which are **128x128** into a **26x24** box = bad scaling.
The scaled size should be a multiple of the natural size.

Here it is with the first 4 icons set to 32x32 (which is 128/4):

![image](https://user-images

[2017-11-28 14:26] dzg commented on #479
Also, the jagged edge can be fixed by removing
`background-color: white;`
from the element style

[2017-11-28 22:34] thanosgatos commented on #483
During my correspondence with the Gmelius team, I have sent tracked emails, as well as scheduled emails from both Inbox and Gmail from both Wavebox and Chrome. Hereafter, I am pasting my comments, as well as screenshots of my findings:

The weird thing is that Inbox in Wavebox, where the issue is, when you go to the sent folder, whatever is sent from Inbox does not seem to be tracked (inbox_wavebo

[2017-11-29 08:56] Thomas101 commented on #489
It could do, but I was using the same my end. Out of curiosity does switching to enhanced notifications change anything?

If you open Cortana search and type winver you'll get a box up with the windows product version. Just to check we match (or nearly match) I've got 1709, build 16299.64

[2017-11-29 09:18] nmat commented on #489
@Thomas101 I will provide more information later on. At the moment ignore this request until I can reproduce it on another machine. Keep it open and I will close it if I can't reproduce after a few tests. Just need a bit more time. :)

[2017-11-29 13:15] SuperSuperSuperSuper5 opened #491 "Ubuntu 16.04 Chinese word lost"
* Which version of Wavebox are you using? [e.g. 3.0.0]

version 3.6.0

![image](https://user-images.githubusercontent.com/13602602/33376781-fca29748-d549-11e7-952d-c70d659b2f8d.png)

* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]

ubuntu 16.04 LTS

When I try wavabox app in ubuntu 16.04, and could not see the Chinese word

![image](https://user-images.githubuse

[2017-11-29 15:33] Thomas101 commented on #473
I was just taking a look into this, but wasn't able to reproduce it. I just added hangouts in as a conferencing option...
![screen shot 2017-11-29 at 15 31 33](https://user-images.githubusercontent.com/103586/33383141-74b3345c-d51a-11e7-8b3c-c42d5e5b7ad4.png)

... then clicked on `Join Hangout` from the calendar...

![screen shot 2017-11-29 at 15 31 55](https://user-images.githubusercontent.com/10

[2017-11-29 15:41] Thomas101 commented on #477
Whoops, got my issue numbers mixed up... https://github.com/wavebox/waveboxapp/commit/1a4ae3d784b7eb7bfbd5115a491cc6fba15bb451

[2017-11-29 17:42] satoshicano commented on #491
- version 3.6.0
- Ubuntu17.10

Japanese word too
![image](https://user-images.githubusercontent.com/7578069/33390063-2415b7f0-d578-11e7-8f64-3ed6cc3539bb.png)

[2017-11-29 19:02] mrmeku opened #492 "Wavebox does not respect browser default"
* Which version of Wavebox are you using? [e.g. 3.0.0]
3.6.0

* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]
Ubuntu 17.10

Rather than opening links in my default browser when the Accounts -> Advanced -> Open new windows in which Browser = Default browser, wavebox instead opens links in chrome. Firefox is my default browser and I would like to not have to keep

[2017-11-29 19:11] mrmeku commented on #492
Sorry, this was a bug in firefox, not wavebox. Closing

[2017-11-29 19:11] #492 closed

[2017-11-29 22:25] nmat commented on #478
verified working in GIT on windows 10

[2017-11-29 22:26] nmat commented on #477
verified and working in GIT

[2017-11-30 02:20] themiguelamador opened #493 "Links and Chrome Update"
* Which version of Wavebox are you using? [e.g. 3.0.0]
Version 3.6.1beta
* Which Operating System are you using? [e.g. Windows 10, Mac OSX 10, Ubuntu 14.04]
MacOS 10.13.2 Beta
Version 63.0.3239.70 (Official Build) beta (64-bit)

I have been noticing a strange error. When opening a link in the background, it open a new blank tab instead. However, when I notice this, I find an update of Chrome waiti

[2017-11-30 10:52] Thomas101 commented on #464
Hi, we’ve just released this to the beta channel of Wavebox in version 3.6.2. If you want to give it a try there are some instructions on [how to use the beta channel here](https://wavebox.io/kb/beta-channel). Thanks

[2017-11-30 10:53] Thomas101 commented on #477
Hi, we’ve just released this to the beta channel of Wavebox in version 3.6.2. If you want to give it a try there are some instructions on [how to use the beta channel here](https://wavebox.io/kb/beta-channel). Thanks

[2017-11-30 10:53] Thomas101 commented on #478
Hi, we’ve just released this to the beta channel of Wavebox in version 3.6.2. If you want to give it a try there are some instructions on [how to use the beta channel here](https://wavebox.io/kb/beta-channel). Thanks

[2017-11-30 10:53] Thomas101 commented on #480
Hi, we’ve just released this to the beta channel of Wavebox in version 3.6.2. If you want to give it a try there are some instructions on [how to use the beta channel here](https://wavebox.io/kb/beta-channel). Thanks

[2017-11-30 10:53] Thomas101 commented on #487
Hi, we’ve just released this to the beta channel of Wavebox in version 3.6.2. If you want to give it a try there are some instructions on [how to use the beta channel here](https://wavebox.io/kb/beta-channel). Thanks

[2017-11-30 10:53] Thomas101 commented on #466
Hi, we’ve just released this to the beta channel of Wavebox in version 3.6.2. If you want to give it a try there are some instructions on [how to use the beta channel here](https://wavebox.io/kb/beta-channel). Thanks

[2017-11-30 10:55] Thomas101 commented on #138
We've just added support for Grammarly, Todoist for Gmail & Clearbit Connect  to the latest beta (3.6.2). More info on how to try [here](https://wavebox.io/kb/beta-channel)

[2017-11-30 10:55] #488 closed

[2017-11-30 10:56] Thomas101 commented on #491
Hi, have you installed via snap/ubuntu store? If you try with the [deb installer, repository or tar](https://wavebox.io/download) I think chinese & Japanese characters should work properly

[2017-11-30 10:59] Thomas101 commented on #493
There is some kind of issue affecting High Sierra, Chrome and link opening which is affecting all apps built on electron.

There's a couple of extra things to try [here](https://wavebox.io/kb/high-sierra-chrome-links) such as changing your default browser, then changing it back which seem to help

[2017-11-30 11:12] dzg commented on #138
# **+1** for Dropbox, PLEASE!!

[2017-11-30 12:01] nmat commented on #442
IMO hiding the addressbar should be set to default and then use right click menu to have a   "Show addressbar".....and a preference saying that it can be on by default if you wish.

If I am not wrong. The built in browser window is a bit of a way to work with sites in a more dynamic way so addressbar might not be interesting unless asked for it?

Please correct me if I am wrong. :)

[2017-11-30 12:30] dzg commented on #479
I discovered you could also use data URI for an SVG and it looks fantastic at any resolution, no scaling involved.

`src='data:image/svg+xml;utf8,<svg ... > ... </svg>'`

E.g., you can use this for the `src` of the WhatsApp avatar:

`src='data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" aria-label="WhatsApp" role="img" viewBox="0 0 512 512"><rect width="512" height="512" fill="#25d3

[2017-11-30 12:34] dzg opened #494 "[Request] Option to inject CSS/JS into the Wavebox UI"
Similarly to how we can inject for accounts ... any way to inject for the actual UI, i.e., "Wavebox Window"?

[2017-11-30 13:05] amancevice commented on #447
FYI, this behavior seems to be corrected in `3.6.0`

[2017-11-30 15:30] Thomas101 commented on #483
Awesome, thanks for the in-depth info. We think we may have found the root cause, we we'll be putting a fix together for the next beta due early next week!

[2017-11-30 17:06] WebShapedBiz commented on #480
Thank you Thomas, I can confirm that the version 3.6.2. beta is fixing this
issue on Linux.

Best regards,

Sinisa Perovic
WebShaped.biz

Web: http://www.webshaped.biz
E-Mail: sinisaperovic@webshaped.biz
SkypeID: sinisaperovic
Telegram: @sinisaperovic

2017-11-30 11:53 GMT+01:00 Thomas Beverley <notifications@github.com>:

[2017-11-30 17:12] dchersey commented on #460
Any updates on which beta might address this? Just tried 3.6.2 but no dice :(

[2017-11-30 18:13] GollyJer commented on #460
Update on my end... **3.6.2beta**
- MixMax popups now show the correct content.
- Lightning bolts still missing.

If I'm on the Sent folder in Inbox, then `reload` the page in wavebox then the bolt shows up.  If I then navigate to the Inbox and back to Sent the bolts are gone.

Not sure if that helps... but at least it's something.

[2017-11-30 18:51] Thomas101 commented on #460
It will be 3.6.3 beta

[2017-11-30 18:52] Thomas101 commented on #494
Not at the moment, but we'll have at look at adding it in. We use material-ui in the back end which is quite CSS unfriendly so not 100% sure how well it would work. Is this to fix #479 ?

[2017-11-30 19:34] dchersey commented on #460
FYI @GollyJer I have bolts in both my sent boxes; no reloading required.

[2017-11-30 20:01] GollyJer commented on #460
@dchersey Are you using `Gmail` or `Inbox by Gmail`?

[2017-11-30 21:01] dzg commented on #494
Yes!

[2017-11-30 22:07] nmat commented on #480
Tested on macOS 10.13.2 here and works fine in 3.6.2beta

[2017-11-30 22:12] nmat commented on #477
Verified on beta channel in 3.6.2beta

tested on windows 10
and on macOS 10.13.2

[2017-11-30 22:25] Thomas101 commented on #460
@GollyJer we've been trying to figure out what's going on here. We added Mixmax to a fresh user profile on Chrome and tested the following to see what the difference was between Chrome and Wavebox.

In our testing we've seen some sporadic results with showing the bolts in Chrome, with the same outcomes on both Gmail and Google Inbox, it would be good to know if you're seeing the same.

See no bolt

[2017-11-30 22:31] Thomas101 commented on #447
Awesome. Let me know if it comes back up!

[2017-11-30 22:36] nmat commented on #478
tested in beta 3.6.2beta

works on both macOS 10.13.2 and windows 10. Closing.

[2017-11-30 22:36] #478 closed

[2017-11-30 22:43] nmat commented on #480
Works on windows 10 and on macOS 10.13.2

I have one question of one scenario I tested.

* Description:
Quit wavebox, click wavebox icon to start it when logged in (having setting start on minimized)

* Result:
The app starts but starts minimized. So if you are logged in already. Click the icon the window does not show. Should this effect occur and be intentional?

Or is it only on login the app s

[2017-11-30 22:46] GollyJer commented on #460
@Thomas101 Yup.  You're right.  It's on MixMax's end.

**Using Inbox in Chrome Browser...**
I see no bolts following your first process.
Your second and third process are basically the same. If you're in the Sent folder before the plugin fully loads then the bolts appear.  However, navigate to any other folder and they disappear.

[2017-11-30 23:00] nmat opened #495 "macOS - translucency causing weird effect on top bar"
* Which version of Wavebox are you using?
3.6.2beta

* Which Operating System are you using?
macOS 10.13.2 - translucent ultra dark

All services on left bar.

Causing this effect:

<img width="1397" alt="screen shot 2017-11-30 at 23 51 24" src="https://user-images.githubusercontent.com/383031/33459548-a703c2b2-d62a-11e7-9e52-778e299fb94c.png">

[2017-11-30 23:01] nmat commented on #466
tested and works fine here. Tested with various different settings and the icons are not overlapping.

[2017-12-01 02:04] reatlat opened #496 "Autoclose download popup(dialog)"
* Which version of Wavebox are you using? [e.g. 3.6.2beta]

* Which Operating System are you using? [ Mac OSX HighSierra, ArchLinux]

after download file is done the popup window has to be closed manually, can we make it automatically or skip popup windows?

[2017-12-01 02:33] reatlat opened #497 "Merge Navigation & extension toolbars"
* Which version of Wavebox are you using? [e.g. 3.2.6beta]

* Which Operating System are you using? [ Mac OSX HighSierra ]

the new green icon from Grammarly looks good on apps, but in webpage integration goes to second line

<img width="1245" alt="wavebox-inbox" src="https://user-images.githubusercontent.com/9933516/33465465-4af3e678-d648-11e7-9172-0bc4c0b97793.png">

<img width="1252" alt="waveb

[2017-12-01 05:12] SuperSuperSuperSuper5 commented on #491
@Thomas101 I'm install from the ubuntu software store, actually I was see the ad. in the ubuntu software store first page, so I decide to try this software.

[2017-12-01 08:36] Thomas101 commented on #442
I think if we're just showing a pdf and there's no back/forward etc then the address bar only serves the purpose of adding the "open in browser" button. We can look to moving that into the pdf renderer and then removing the bar altogether in that scenario. I'll take a look to see what's possible

[2017-12-01 08:42] Thomas101 commented on #480
The start minimized option under settings will always make it start minimized.

For startup there's the startup settings dropdown for macOS and windows...

![screen shot 2017-12-01 at 08 40 13](https://user-images.githubusercontent.com/103586/33474615-542d3ce6-d673-11e7-8110-6bc0c10250cb.png)

... or alternatively...
* macOS you can use the hide flag under sys preferences/login items
* Windows if

[2017-12-01 08:42] nmat commented on #442
I wonder if pdf is the only scenario though?

I mean, lets say that you would want to work on a gdoc in a different window. Will that addressbar be overused in that case? I mean....doesn't it make sense to have it hidden by default to concentrate on the actual content?

Just thinking that if open in new window would actually need the addressbar unless asked for in general?

Another example can be

[2017-12-01 08:43] nmat commented on #442
I can however understand that using grammarly might need the bar. But then could the extension trigger the addressbar on lets say "new tab"? or by function?

[2017-12-01 08:45] Thomas101 commented on #495
I've just tried on 10.12 and don't see it, so it may be to do with High Sierra. I'll check on one of the other boxes when I get back to the office

[2017-12-01 08:47] Thomas101 commented on #496
I'll have a look! Where were you downloading the file from (e.g. gmail, outlook, slack etc...)?

[2017-12-01 09:23] eoset opened #498 "Screen share during meeting in Google Meet or Hangouts doesn't work."
* Which version of Wavebox are you using? 3.5.0

* Which Operating System are you using? Windows 10

The screenshare feature doesnt work while in google meetings. I can see other peoples screens but I cannot share.

I did not research if anyone else reported same issue before.

[2017-12-01 12:48] nmat commented on #495
The effect seems to happen only on Gmail mail.

In calendar the view looks good but the main item seems to cause this effect.

[2017-12-01 14:03] reatlat commented on #496
@Thomas101 Just check it... It happened only on Slack

<img width="1338" alt="wavebox 2017-12-01 15-01-55" src="https://user-images.githubusercontent.com/9933516/33486000-c6834f94-d6a8-11e7-87b4-d4a821d2fb4f.png">

[2017-12-01 20:08] Jake-Day-Williams commented on #130
Intercom

[2017-12-01 21:16] nmat opened #499 "windows 10 - Empty window when loading a URL"
* Which version of Wavebox are you using?
3.6.2beta + GIT

* Which Operating System are you using?
Windows 10

* Description:
Opening links from gmail subject also open some kind of wavebox loading screen to open it in for example chrome.

On the stable versions I have seen it just flash when opening links but on GIT I can see it open all the time. (the flashy window happens on normal links someti

[2017-12-04 10:05] #499 closed

[2017-12-04 10:05] Thomas101 commented on #499
Thanks! Managed to find out what this was. Also fixed the windows popping-up and then shutting down :)

[2017-12-04 10:38] nmat commented on #499
wow! that was quick. Thank you!

[2017-12-04 17:41] nmat commented on #499
tested in GIT and works perfectly. thank you again :)

[2017-12-04 20:18] ChaddPortwine commented on #131
I have Gmail _settings_ to enable **Inbox**. Whenever I open a browser to Gmail, I'm taken to Inbox.

**Wavebox: Gmail or Inbox - Flip a Coin**
When I open Wavebox, sometimes Inbox loads, sometimes Gmail loads. Once Gmail loads, I cannot get Inbox to display again (well, sometimes I can navigate back, but not always)

I would like Wavebox to **always** open Inbox. Within Inbox there is a link to G

[2017-12-04 21:24] nmat commented on #131
@ChaddPortwine this sounds a bit like https://github.com/wavebox/waveboxapp/issues/482

Wavebox at the moment does not save last used index/service in that way unfortunately. Of course this is "from what I know" going to be worked on. But at the moment does not save last used.

If this is something else then last used then please tell me. Do you mean last used label inside the gmail account or som

[2017-12-04 21:48] ChaddPortwine commented on #131
@nmat I'm not sure what's happening behind the scenes.  Maybe this extra info will help:

When I type `www.gmail.com` into a browser, google looks me up and forwards me to `https://inbox.google.com/u/0/` automagically, because of my Gmail settings.

In Wavebox Settings\Accounts I have that Gmail account (G Suite really) added. Wavebox (like my browser) sometimes shows Inbox, e.g., google redirecte

[2017-12-04 22:15] amancevice commented on #447
Oops... Looks like I spoke too soon. Seeing this behavior again after a reboot.

[2017-12-05 09:03] Thomas101 commented on #131
It sounds like you might have added the account as a gmail account and are now trying to use it as an inbox account. The best thing to do is remove the account and re-add it again to Wavebox, but this time picking Google Inbox from the add screen.

When you tell gmail to always redirect you to inbox, the only thing we can do is ask gmail not to by using a query on the end of the url, e.g. `https:/

[2017-12-05 10:06] mathieutu commented on #367
And for macOS, could it be integrated with the "Do not disturb function" ?
The notifications don't appear, but we can still hear the sound in background.

Thx!

[2017-12-05 14:01] ChaddPortwine commented on #131
This is **USER ERROR** on my part.

@Thomas101, you are correct. I missed the Inbox option when setting up the account. Adding a Wavebox Gmail account that has Inbox enabled is not recommended (and is dumb :).

Thank you for suggesting to delete the account and start over.

[2017-12-05 14:32] Thomas101 commented on #138
Dropbox for Gmail has been added in 3.6.3 beta

[2017-12-05 14:33] nmat commented on #496
@reatlat it could be that there was a ghost window showing up during the download. If possible can you test in latest 3.6.3beta to see if the same effect happens there?

Does it happen on macOS and also on archlinux?

[2017-12-05 14:47] Thomas101 commented on #483
Hi, the latest beta adds some improvements for Gmelius, so hopefully, this should work a little better, for example, unread indicators should show up much more reliably.

We did notice one thing in testing that isn’t quite fixed as regards the scheduled tag. When we added Gmelius to Inbox in Wavebox, scheduled an email to be sent from Gmail in Chrome and then checked for the tag in drafts in Inbox